article .gridArea {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  -moz-column-gap: 1%;
       column-gap: 1%;
  row-gap: 1%;
}
article .gridArea .gridItem {
  background-color: #ffffff;
  border: 1px solid #e9ebec;
  transition: all 0.2s;
}
article .gridArea .gridItem:nth-child(1) {
  grid-column: 1/6;
  grid-row: 1/4;
}
article .gridArea .gridItem:nth-child(2) {
  grid-column: 6/11;
  grid-row: 1/4;
}
article .gridArea .gridItem:nth-child(3) {
  grid-column: 1/6;
  grid-row: 4/8;
}
article .gridArea .gridItem:nth-child(4) {
  grid-column: 6/11;
  grid-row: 4/8;
}
article .gridArea .gridItem .title {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #5584ff;
}
article .gridArea .gridItem .title .leftTitle {
  margin: 0 10px;
}
article .gridArea .gridItem .title .leftTitle p {
  font-size: 0.8rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
article .gridArea .gridItem .title .rightIcon {
  margin: 0 5px;
}
article .gridArea .gridItem .title .rightIcon i {
  margin: 0 5px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 2rem;
  color: #ffffff;
}
article .gridArea .gridItem .content {
  width: 100%;
  height: calc(100% - 2rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}
article .gridArea .gridItem .content canvas {
  width: 100% !important;
  max-height: 100% !important;
}
article .gridArea .gridItem.apiStatus .content {
  background-color: #3755a4;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 25%);
}
article .gridArea .gridItem.apiStatus .content .apiTimeGap {
  grid-column: 1/3;
  grid-row: 2/4;
  align-self: center;
  justify-self: center;
}
article .gridArea .gridItem.apiStatus .content .apiTimeGap h5 {
  font-size: 0.9rem;
}
article .gridArea .gridItem.apiStatus .content .apiTimeGap p {
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
}
article .gridArea .gridItem.apiStatus .content .arrowAnimation {
  grid-column: 3/4;
  grid-row: 2/4;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
}
article .gridArea .gridItem.apiStatus .content .arrowAnimation i {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #5584ff;
}
article .gridArea .gridItem.apiStatus .content .arrowAnimation i:nth-child(1) {
  left: 0;
  -webkit-animation: arrowRight 1.2s infinite 0s ease;
          animation: arrowRight 1.2s infinite 0s ease;
}
article .gridArea .gridItem.apiStatus .content .arrowAnimation i:nth-child(2) {
  left: 50%;
  -webkit-animation: arrowRight 1.2s infinite 0.15875s ease;
          animation: arrowRight 1.2s infinite 0.15875s ease;
}
article .gridArea .gridItem.apiStatus .content .arrowAnimation i:nth-child(3) {
  left: 100%;
  -webkit-animation: arrowRight 1.2s infinite 0.375s ease;
          animation: arrowRight 1.2s infinite 0.375s ease;
}
article .gridArea .gridItem.apiStatus .content .apiReq {
  grid-column: 4/6;
  grid-row: 2/4;
  align-self: center;
  justify-self: center;
}
article .gridArea .gridItem.apiStatus .content .apiReq i {
  -webkit-animation: glow infinite 2s linear;
          animation: glow infinite 2s linear;
}
article .gridArea .gridItem.apiStatus .content .apiErr {
  grid-column: 6/8;
  grid-row: 2/4;
  align-self: center;
  justify-self: center;
}
article .gridArea .gridItem.apiStatus .content .apiErr i {
  color: #5584ff;
}
article .gridArea .gridItem.apiStatus .content .apiErr .triangle {
  display: none;
}
article .gridArea .gridItem.apiStatus .content .checkAPIBox {
  grid-column: 8/11;
  grid-row: 2/4;
  align-self: center;
  justify-self: center;
}
article .gridArea .gridItem.apiStatus .content .checkAPIBox h5 {
  font-size: 0.9rem;
  font-weight: 500;
}
article .gridArea .gridItem.apiStatus .content .checkAPIBox p {
  margin: 0;
  color: #f6f7fa;
  font-size: 0.9rem;
  text-align: center;
}
article .gridArea .gridItem.apiStatus .content h5 {
  text-indent: 0;
  text-align: center;
  color: #ffffff;
}
article .gridArea .gridItem.apiStatus .content i {
  font-size: 5rem;
  color: #5584ff;
}
article .gridArea .gridItem.apiStatus .content .apiErr.active {
  position: relative;
}
article .gridArea .gridItem.apiStatus .content .apiErr.active i {
  color: #f83c7b;
}
article .gridArea .gridItem.apiStatus .content .apiErr.active .triangle {
  display: block;
  position: absolute;
  -webkit-text-stroke: 3px #f83c7b;
  color: transparent;
  font-size: 5rem;
  top: 0;
  left: 0;
  -webkit-animation: alert infinite 1s ease-out;
          animation: alert infinite 1s ease-out;
}