@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  display: block;
}

header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}

@media screen and (max-width: 1800px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1700px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 13px;
  }
}

@-webkit-keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes shake {
  0% {
    right: 0;
  }

  20% {
    right: 0.3rem;
  }

  45% {
    right: -0.3rem;
  }

  55% {
    right: 0.3rem;
  }

  80% {
    right: -0.3rem;
  }

  100% {
    right: 0rem;
  }
}

@keyframes shake {
  0% {
    right: 0;
  }

  20% {
    right: 0.3rem;
  }

  45% {
    right: -0.3rem;
  }

  55% {
    right: 0.3rem;
  }

  80% {
    right: -0.3rem;
  }

  100% {
    right: 0rem;
  }
}

@-webkit-keyframes glow {
  0% {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(120%);
  }

  100% {
    filter: brightness(100%);
  }
}

@keyframes glow {
  0% {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(120%);
  }

  100% {
    filter: brightness(100%);
  }
}

@-webkit-keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}

@keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes shake {
  0% {
    right: 0;
  }

  20% {
    right: 0.3rem;
  }

  45% {
    right: -0.3rem;
  }

  55% {
    right: 0.3rem;
  }

  80% {
    right: -0.3rem;
  }

  100% {
    right: 0rem;
  }
}

@keyframes glow {
  0% {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(120%);
  }

  100% {
    filter: brightness(100%);
  }
}

@keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}

.loadingBox {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4666666667);
  display: none;
}

.loadingBox.on {
  display: block;
}

.loadingBox .loading {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 50%;
  border: 0 5px 5px 5px;
  border-style: solid;
  border-color: transparent #e1e4eb #e1e4eb #e1e4eb;
  -webkit-animation: infinite 2s linear rotate;
  animation: infinite 2s linear rotate;
}

body {
  background-color: #f6f7fa;
}

#wrap {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 9fr;
  min-width: 1400px;
}

#wrap.menuClose {
  grid-template-columns: 1fr 31fr;
}

#wrap.menuClose .left menu {
  min-width: 60px;
}

#wrap.menuClose .left menu .menuChange {
  display: flex;
  justify-content: center;
}

#wrap.menuClose .left menu .menuChange i {
  transform: rotate(180deg);
}

#wrap.menuClose .left menu .menuChange span {
  display: none;
}

#wrap.menuClose .left menu .logoTop img {
  width: 40px;
  content: url("../img/fgsm_logo_mini.svg");
}

#wrap.menuClose .left menu .logoTop .version {
  display: none;
}

#wrap.menuClose .left menu .nav ul li {
  justify-content: center;
}

#wrap.menuClose .left menu .nav ul li i {
  padding: 12px 0;
}

#wrap.menuClose .left menu .nav ul li a {
  display: none;
}

#wrap.subMenuClose nav {
  display: none;
}

#wrap.subMenuClose main {
  grid-column-start: 1;
}

#wrap.subMenuClose .right header .header_left::before {
  display: none;
}

#wrap.leftListClose aside {
  grid-column-start: 18;
}

#wrap.leftListClose aside .leftList {
  display: none;
}

#wrap.leftListClose aside .rightList {
  grid-column-start: 1;
}

#wrap.leftListClose main {
  grid-column-end: 18;
}

#wrap.rightListClose aside {
  display: none;
}

#wrap.rightListClose main {
  grid-column-end: 21;
}

#wrap.fullScreen {
  height: 100vh;
}

#wrap.fullScreen .left {
  display: none;
}

#wrap.fullScreen .right {
  grid-column-start: 1;
}

#wrap.fullScreen .right header {
  display: none;
}

#wrap.fullScreen .right nav {
  display: none;
}

#wrap.fullScreen .right .container {
  height: 100vh;
}

#wrap.fullScreen .right .container main {
  grid-column-start: 1;
  grid-column-end: 21;
}

#wrap.fullScreen .right .container main section {
  max-height: 94vh;
}

#wrap.fullScreen .right .container aside {
  display: none;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #052024;
  position: relative;
}

.left menu {
  width: 100%;
  height: auto;
  max-height: 100vh;
  min-width: 210px;
  overflow-y: scroll;
  transition: all 0.05s;
}

.left menu::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.left menu .logoTop {
  width: 100%;
  height: auto;
  min-height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.left menu .logoTop img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.left menu .logoTop .version {
  font-size: 8px;
  color: #1aa6b7;
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 1;
}

.left menu .logoTop .version b {
  font-weight: 500;
}

.left menu .nav {
  width: 100%;
  height: auto;
}

.left menu .nav ul {
  width: 100%;
}

.left menu .nav ul li {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.left menu .nav ul li i {
  color: #1aa6b7;
  font-size: 1.25rem;
  padding: 12px 10%;
  width: 20px;
}

.left menu .nav ul li a {
  color: #eff1f6;
  font-size: 0.9rem;
}

.left menu .nav ul li:hover {
  -webkit-backdrop-filter: brightness(120%);
  backdrop-filter: brightness(120%);
}

.left menu .nav ul li.active {
  -webkit-backdrop-filter: brightness(150%);
  backdrop-filter: brightness(150%);
  position: relative;
}

.left menu .nav ul li.active::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1aa6b7;
}

.left menu .nav ul li.locked {
  background-color: #8492af;
  pointer-events: none;
  position: relative;
}

.left menu .nav .menuChange {
  color: #ffffff;
  font-weight: 400;
  display: block;
  padding: 38px 0;
  filter: brightness(0.7);
  cursor: pointer;
  transition: all 0.2s;
}

.left menu .nav .menuChange:hover {
  filter: brightness(1);
}

.left menu .nav .menuChange i {
  width: 1rem;
  height: auto;
  display: inline-block;
  padding: 0 10%;
  transition: all 0.3s;
}

.right {
  grid-column-start: 2;
  grid-column-end: 3;
}

.right header {
  width: 100%;
  height: auto;
  min-height: 80px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  border-bottom: 1px solid #e1e4eb;
}

.right header .header_left {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  justify-self: start;
  cursor: pointer;
}

.right header .header_left i {
  font-size: 24px;
  padding: 27px 20px;
  color: #65779b;
}

.right header .header_left::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 15px;
  transform: translate(-100%, -50%);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #1aa6b7;
}

.right header .header_mid {
  grid-column-start: 3;
  grid-column-end: 18;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(5, 20%);
}

.right header .header_mid ul.alarmBox {
  grid-column-start: 2;
  grid-column-end: 15;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right header .header_mid ul.alarmBox li {
  padding: 0 0.3rem;
}

.right header .header_mid ul.alarmBox li span {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.right header .header_mid ul.alarmBox li span.newAlarm {
  background-color: #ff3b55;
  position: relative;
}

.right header .header_mid ul.alarmBox li span.newAlarm::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #ff3b55;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: alert infinite 1s ease-out;
  animation: alert infinite 1s ease-out;
}

.right header .header_mid ul.alarmBox li p {
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
}

.right header .header_mid ul.alarmBox li small {
  margin: 0 auto;
  text-align: center;
  font-size: 0.7rem;
  display: block;
}

.right header .header_mid .userBox {
  grid-column-start: 15;
  grid-column-end: 21;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0.6rem;
  align-self: center;
}

.right header .header_mid .userBox .middleBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.right header .header_mid .userBox .middleBox a.helloUser {
  text-align: left;
  font-size: 0.875rem;
  color: #1aa6b7 !important;
  display: flex;
  align-items: center;
}

.right header .header_mid .userBox .middleBox span.timeOut {
  font-size: 0.7rem;
  font-weight: 300;
}

.right header .header_mid .userBox .middleBox span.timeOut.crush {
  color: #ff3b55;
}

.right header .header_mid .userBox .middleBox span.timeOut strong {
  font-weight: 500;
}

.right header .header_mid .userBox .middleBox span.timeOut #refreshToken {
  font-weight: 500;
  opacity: 0.7;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s;
  color: #1aa6b7;
  font-size: 0.9rem;
}

.right header .header_mid .userBox .middleBox span.timeOut #refreshToken:hover {
  opacity: 1;
}

.right header .header_mid span.logOut {
  min-width: 100px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  filter: brightness(1);
}

.right header .header_mid span.logOut:hover {
  filter: brightness(0.7);
}

.right header .header_mid span.logOut i {
  color: #65779b;
  font-size: 1rem;
  padding-left: 10px;
}

.right header .header_mid span.logOut p {
  color: #65779b;
  font-weight: 300;
  font-size: 0.8rem;
}

.right header .header_right {
  grid-column-start: 20;
  grid-column-end: 21;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.right header .header_right i {
  font-size: 25px;
  padding: 27px 20px;
  color: rgba(101, 119, 155, 0.5);
  transition: all 0.2s;
}

.right header .header_right:hover i {
  color: #65779b;
}

.right .container {
  width: 100%;
  height: calc(100vh - 80px);
  min-height: 800px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  overflow: hidden;
}

.right .container nav.subMenu {
  grid-column-start: 1;
  grid-column-end: 3;
  border-right: 1px solid #e1e4eb;
  background-color: #ffffff;
}

.right .container nav.subMenu ul {
  display: none;
}

.right .container nav.subMenu ul.active {
  display: block;
}

.right .container nav.subMenu ul li {
  width: 100%;
  height: auto;
  transition: all 0.2s;
}

.right .container nav.subMenu ul li a {
  width: 100%;
  height: auto;
  display: block;
  text-align: left;
  padding: 12px 10%;
  box-sizing: border-box;
  font-size: 0.85rem;
}

.right .container nav.subMenu ul li a.bold {
  font-weight: 700;
}

.right .container nav.subMenu ul li:hover {
  background-color: rgba(225, 228, 235, 0.7);
}

.right .container nav.subMenu ul li.active {
  background: #e1e4eb;
  position: relative;
}

.right .container nav.subMenu ul li.active::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #8492af;
}

.right .container nav.subMenu ul li.locked {
  position: relative;
  -webkit-backdrop-filter: brightness(0.9);
  backdrop-filter: brightness(0.9);
  pointer-events: none;
}

.right .container nav.subMenu ul li.locked a {
  color: #65779b;
}

.right .container nav.subMenu ul li.locked i.fa-lock {
  position: absolute;
  display: inline-block;
  font-size: 1rem;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  color: #65779b;
}

.right .container main {
  grid-column-start: 3;
  grid-column-end: 15;
  height: 100%;
  background-color: #f6f7fa;
  position: relative;
}

.right .container main .toolbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.right .container main .toolbar span.manual {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #1aa6b7;
  cursor: pointer;
  padding: 0 1rem;
}

.right .container main .toolbar span.manual i {
  font-size: 22px;
  padding: 0 0.5rem;
  color: #1aa6b7;
}

.right .container main .toolbar a.fullsize {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #1aa6b7;
  cursor: pointer;
  padding: 0 1rem;
}

.right .container main .toolbar a.fullsize i {
  font-size: 20px;
  padding: 0 0.5rem;
  color: #1aa6b7;
}

.right .container main .toolbar a.fullsize span {
  color: #1aa6b7;
}

.right .container main .toolbar a.popup {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #1aa6b7;
  cursor: pointer;
  padding: 0 1rem;
}

.right .container main .toolbar a.popup i {
  font-size: 20px;
  padding: 0 0.5rem;
  color: #1aa6b7;
}

.right .container main .toolbar a.popup span {
  color: #1aa6b7;
}

.right .container main section {
  width: 100%;
  height: calc(100% - 50px);
  max-height: calc(95vh - 100px);
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
  box-sizing: border-box;
}

.right .container main section::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.right .container main section::-webkit-scrollbar-thumb {
  background-color: #1aa6b7;
  border-radius: 5px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.right .container main section::-webkit-scrollbar-thumb:hover {
  border: none;
}

.right .container main section::-webkit-scrollbar-track {
  background-color: #f6f7fa;
}

.right .container main section h2 {
  text-indent: 10px;
  font-size: 2.5rem;
  color: #147d8a;
  margin: 0 auto;
  position: relative;
  font-weight: 300;
}

.right .container main section h3 {
  font-size: 2rem;
  color: #147d8a;
  position: relative;
  text-indent: 10px;
}

.right .container main section h3::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #147d8a;
  position: absolute;
  top: 0;
  left: 0px;
}

.right .container main section h4 {
  font-size: 1.5rem;
  color: #1aa6b7;
  text-indent: 10px;
}

.right .container main section h5 {
  font-size: 1.2rem;
  color: #65779b;
  font-weight: 700;
  text-indent: 10px;
}

.right .container main section p {
  font-weight: 300;
}

.right .container main section p a {
  color: #1aa6b7;
}

.right .container main section article {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  box-sizing: border-box;
  border-bottom: 2px solid #e1e4eb;
}

.right .container main section table {
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  font-size: 0.8rem;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
}

.right .container main section table thead {
  background-color: #8492af;
  color: #ffffff;
}

.right .container main section table thead tr th {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.2rem;
}

.right .container main section table thead tr td {
  border: none;
  padding: 0.2rem;
}

.right .container main section table tbody {
  background-color: #ffffff;
  color: #111111;
}

.right .container main section table tbody tr:nth-child(even) {
  background-color: #f6f7fa;
}

.right .container main section table tbody tr th {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 1px solid #e1e4eb;
  padding: 0.2rem;
}

.right .container main section table tbody tr td {
  border-bottom: 1px solid #e1e4eb;
  padding: 0.2rem;
}

.right .container main section table tbody tr.point {
  background-color: rgba(26, 166, 183, 0.3);
  outline: 2px solid #1aa6b7;
}

.right .container main section table tbody tr.point th,
.right .container main section table tbody tr.point td {
  border: none;
}

.right .container main section table tbody tr.crush {
  background-color: rgba(255, 59, 85, 0.3) !important;
}

.right .container main section table tbody tr.crush.point {
  outline: 2px solid #1aa6b7;
}

.right .container main section table tbody tr.caution {
  background-color: rgba(255, 166, 0, 0.3) !important;
}

.right .container main section table tbody tr.caution.point {
  outline: 2px solid #1aa6b7;
}

.right .container aside {
  grid-column-start: 15;
  grid-column-end: 21;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  background-color: #ffffff;
}

.right .container aside h3 {
  font-size: 1.2rem;
  color: #1aa6b7;
  text-indent: 10px;
  position: relative;
}

.right .container aside h3::after {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #1aa6b7;
  position: absolute;
  top: 0;
  left: 0px;
}

.right .container aside table {
  width: 100%;
  table-layout: fixed;
}

.right .container aside table thead {
  background-color: #8492af;
  color: #ffffff;
  font-size: 0.8rem;
}

.right .container aside table thead tr td {
  padding: 2px 0;
  text-indent: 0.1rem;
}

.right .container aside table tbody {
  color: #111111;
}

.right .container aside table tbody tr:nth-child(even) {
  background-color: #eff1f6;
}

.right .container aside table tbody tr:last-child td {
  border-bottom: none;
}

.right .container aside table tbody tr td {
  font-size: 0.9rem;
  border-bottom: 1px solid #e1e4eb;
}

.right .container aside .leftList {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 6;
  border-left: 1px solid #e1e4eb;
}

.right .container aside .leftList span.close_leftList {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.right .container aside .leftList span.close_leftList i {
  font-size: 1.2rem;
  color: #24cce0;
  transition: all 0.2s;
}

.right .container aside .leftList span.close_leftList:hover i {
  color: #1aa6b7;
}

.right .container aside .leftList .aside_leftList {
  padding: 0.5rem 0;
}

.right .container aside .leftList .aside_leftList table.loan_search_table tbody tr td select {
  width: 95%;
}

.right .container aside .leftList .aside_leftList table.loan_search_table tbody tr.list_select th button {
  width: 100%;
}

.right .container aside .leftList .aside_leftList table.loan_search_table tbody tr.list_select th.list_selected {
  border-bottom: 2px solid #24cce0;
}

.right .container aside .leftList .listTableBox table thead tr td:first-child {
  width: 5rem;
}

.right .container aside .leftList .listTableBox table thead tr td:last-child {
  width: 3rem;
}

.right .container aside .leftList .listTableBox table tbody tr {
  cursor: pointer;
}

.right .container aside .leftList .listTableBox table tbody tr.clicked {
  outline: 2px solid #1aa6b7;
}

.right .container aside .leftList .listTableBox table tbody tr td {
  padding: 5px 0;
}

.right .container aside .rightList {
  grid-column-start: 6;
  grid-column-end: 11;
  border-left: 1px solid #e1e4eb;
}

.right .container aside .rightList .aside_rightList_search {
  padding: 0.5rem 0;
}

.right .container aside .rightList .aside_rightList_search table.member_search_table tbody tr td select {
  width: 95%;
}

.right .container aside .rightList .aside_rightList_search table.member_search_table tbody tr td button {
  margin-top: 2px;
}

.right .container aside .rightList .aside_rightList_search table.member_search_table tbody tr td button#member_search_btn {
  width: 10%;
  font-size: 1rem;
}

.right .container aside .rightList .aside_rightList_search table.member_search_table tbody tr td input#member_search {
  width: 85%;
}

.right .container aside .rightList table thead tr td:first-child {
  width: 2rem;
}

.right .container aside .rightList ul {
  border-top: 2px solid #1aa6b7;
}

.right .container aside .rightList ul li {
  margin: 10px 5px;
  box-sizing: border-box;
  background-color: #f6f7fa;
  padding: 2px 5px;
  border-left: 5px solid #24cce0;
  cursor: pointer;
}

.right .container aside .rightList ul li:first-child {
  margin: 5px;
}

.right .container aside .rightList ul li.clicked {
  background-color: #e1e4eb;
}

.right .container aside .rightList ul li.clicked span.clickToOpen {
  display: none;
}

.right .container aside .rightList ul li.clicked:hover {
  background-color: #e1e4eb;
}

.right .container aside .rightList ul li.test {
  position: relative;
}

.right .container aside .rightList ul li.test::after {
  content: "Test";
  position: absolute;
  display: block;
  top: 0.3rem;
  right: 0.3rem;
  color: #ff3b55;
  font-size: 0.8rem;
}

.right .container aside .rightList ul li span {
  display: block;
}

.right .container aside .rightList ul li span.type {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  color: #65779b;
  position: relative;
}

.right .container aside .rightList ul li span.type.법인::after {
  content: "\f058";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.7rem;
  display: block;
  font-size: 0.8rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  color: #1aa6b7;
}

.right .container aside .rightList ul li span.clickToOpen {
  font-size: 0.7rem;
  text-align: right;
  transition: all 0.2s;
  color: #e1e4eb;
}

.right .container aside .rightList ul li p.company_name {
  color: #147d8a;
  font-size: 1rem;
  padding: 5px 0;
}

.right .container aside .rightList ul li .card_detail {
  padding: 15px 0;
}

.right .container aside .rightList ul li .card_detail .apply_test {
  float: right;
}

.right .container aside .rightList ul li .card_detail p {
  font-size: 0.8rem;
  color: #147d8a;
}

.right .container aside .rightList ul li .card_detail p:last-child {
  color: #ff3b55;
}

.right .container aside .rightList ul li:hover {
  background-color: #eff1f6;
}

.right .container aside .rightList ul li:hover span.clickToOpen {
  color: #65779b;
}

select {
  background-color: #ffffff;
  color: #65779b;
  border: 1px solid rgba(132, 146, 175, 0.5);
}

select:focus {
  border: 1px solid #1aa6b7;
  outline: 1px solid #1aa6b7;
}

input {
  background-color: #ffffff;
  border: 1px solid rgba(132, 146, 175, 0.5);
}

input:disabled {
  background-color: #65779b;
  color: #f6f7fa;
}

input[type=text]:focus,
input[type=password]:focus {
  border: 1px solid #1aa6b7;
  outline: 1px solid #1aa6b7;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3333333333);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

.modal .layerPopup {
  width: 800px;
  height: auto;
  max-height: 50vh;
  background-color: #f6f7fa;
  box-sizing: border-box;
}

.modal .layerPopup .popupHead {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #65779b;
  padding: 10px;
  box-sizing: border-box;
}

.modal .layerPopup .popupHead h3 {
  color: #ffffff;
  font-weight: 500;
}

.modal .layerPopup .popupHead i {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
}

.modal .layerPopup .popupHead i:hover {
  color: #ff3b55;
}

.modal .layerPopup .popupBody {
  width: 100%;
  max-height: calc(50vh - 100px);
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}

.modal .layerPopup .popupBody::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.modal .layerPopup .popupBody::-webkit-scrollbar-thumb {
  background-color: #1aa6b7;
  border-radius: 5px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.modal .layerPopup .popupBody::-webkit-scrollbar-thumb:hover {
  border: none;
}

.modal .layerPopup .popupBody::-webkit-scrollbar-track {
  background-color: #f6f7fa;
}

.modal .layerPopup .popupBody .box .inputDiv {
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #24cce0;
}

.modal .layerPopup .popupBody .box .inputDiv:last-child {
  border-bottom: none;
}

.modal .layerPopup .popupBody .box .inputDiv h5 {
  color: #65779b;
  font-size: 1rem;
  font-weight: 100;
}

.modal .layerPopup .popupBody .box .inputDiv input {
  width: 50%;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 2px 5px;
  box-sizing: border-box;
  border: 1px solid #65779b;
}

.modal .layerPopup .popupBody .box .inputDiv input:focus {
  outline: 1px solid #1aa6b7;
}

.modal .layerPopup .btnBox {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.modal .layerPopup .btnBox button {
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}

.modal .layerPopup .btnBox button.point {
  background: #1aa6b7;
}

.modal .layerPopup .btnBox button.crush {
  background: #ff3b55;
}

.modal .layerPopup .btnBox button.gray {
  background: #65779b;
}

.alert_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3333333333);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.alert_modal .alert_layerPopup {
  max-width: 800px;
  margin: 0 10%;
  height: auto;
  background-color: #f6f7fa;
  box-sizing: border-box;
  border-radius: 5px;
}

.alert_modal .alert_layerPopup .alert_popupHead {
  width: 95%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #24cce0;
  padding: 5px;
  box-sizing: border-box;
}

.alert_modal .alert_layerPopup .alert_popupHead h3 {
  color: #65779b;
  font-weight: 500;
}

.alert_modal .alert_layerPopup .alert_popupHead i {
  color: #ff3b55;
  opacity: 0.8;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
}

.alert_modal .alert_layerPopup .alert_popupHead i:hover {
  opacity: 1;
}

.alert_modal .alert_layerPopup .alert_popupBody {
  width: 100%;
  height: auto;
  padding: 10px 50px;
  box-sizing: border-box;
}

.alert_modal .alert_layerPopup .alert_popupBody .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert_modal .alert_layerPopup .alert_popupBody .box p {
  font-size: 1.2rem;
  font-weight: 300;
  word-break: break-all;
}

.alert_modal .alert_layerPopup .alert_popupBody .box p small {
  font-size: 1rem;
  color: #65779b;
  word-break: break-all;
}

.alert_modal .alert_layerPopup .alert_btnBox {
  width: 95%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 0;
}

.alert_modal .alert_layerPopup .alert_btnBox button {
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.alert_modal .alert_layerPopup .alert_btnBox button.point {
  background: #1aa6b7;
}

.alert_modal .alert_layerPopup .alert_btnBox button.crush {
  background: #ff3b55;
}

.alert_modal .alert_layerPopup .alert_btnBox button.gray {
  background: #65779b;
}

.checkBoxDiv {
  transform-origin: left;
  transform: scale(0.9);
}

.checkBoxDiv label.checkBox {
  width: 15px;
  height: 15px;
  border: 3px solid rgba(132, 146, 175, 0.5);
  border-radius: 5px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}

.checkBoxDiv input.chkBox {
  display: none;
}

.checkBoxDiv input.chkBox:checked+label.checkBox {
  background-color: #1aa6b7;
}

.checkBoxDiv input.chkBox:checked+label.checkBox::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 3px;
  width: 10px;
  height: 13px;
  box-shadow: inset 3px 3px #ffffff;
  transform: rotate(-135deg);
}

.radioDiv {
  display: flex;
}

.radioDiv input {
  display: none;
}

.radioDiv input:checked+label {
  transition: ease-out 0.2s;
  border: 3px solid #1aa6b7;
}

.radioDiv input:checked+label::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: #1aa6b7;
  border-radius: 50%;
}

.radioDiv label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid rgba(132, 146, 175, 0.5);
  transition: ease-out 0.2s;
  position: relative;
  cursor: pointer;
  display: block;
  transform-origin: left;
  transform: scale(0.8);
}

.radioDiv label:hover {
  border: 3px solid #65779b;
}

.toggleDiv {
  transform-origin: left;
}

.toggleDiv input[type=checkbox].toggle {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.toggleDiv input[type=checkbox].toggle:checked+.check-trail {
  background: #1aa6b7;
}

.toggleDiv input[type=checkbox].toggle:checked+.check-trail .check-handler {
  margin-left: 55%;
}

.toggleDiv .check-trail {
  transform: scale(0.8);
  transform-origin: left;
  display: flex;
  align-items: center;
  width: 60px;
  height: 30px;
  background: #e1e4eb;
  border-radius: 15px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.toggleDiv .check-handler {
  display: flex;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background: #f6f7fa;
  border-radius: 50%;
  transition: all 0.2s ease;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.scrollable {
  overflow: hidden;
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #1aa6b7;
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  border: none;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #f6f7fa;
}

button.btn_style_1 {
  border: none;
  background: none;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 300;
  opacity: 0.7;
  transition: all 0.2s;
}

button.btn_style_1.btn_color_point i {
  color: #1aa6b7;
}

button.btn_style_1.btn_color_crush i {
  color: #ff3b55;
}

button.btn_style_1.btn_color_gray i {
  color: #8492af;
}

button.btn_style_1:hover {
  opacity: 1;
}

button.btn_style_2 {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 5px;
}

button.btn_style_2.btn_color_point {
  background: rgba(26, 166, 183, 0.2);
  color: #147d8a;
}

button.btn_style_2.btn_color_point:hover {
  background-color: #1aa6b7;
  color: #ffffff;
}

button.btn_style_2.btn_color_crush {
  background-color: rgba(255, 59, 85, 0.6);
  color: #ffffff;
}

button.btn_style_2.btn_color_crush:hover {
  background-color: #ff3b55;
  color: #ffffff;
}

button.btn_style_2.btn_color_gray {
  background-color: rgba(132, 146, 175, 0.6);
  color: #ffffff;
}

button.btn_style_2.btn_color_gray:hover {
  background-color: #8492af;
  color: #ffffff;
}

button.btn_style_3 {
  border: none;
  padding: 3px 5px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #f6f7fa;
  transition: all 0.2s;
  opacity: 0.8;
}

button.btn_style_3.btn_color_point {
  background-color: #1aa6b7;
}

button.btn_style_3.btn_color_crush {
  background-color: #ff3b55;
}

button.btn_style_3.btn_color_gray {
  background-color: #8492af;
}

button.btn_style_3:hover {
  opacity: 1;
}

.ck-editor__editable[role=textbox] {
  /* editing area */
  min-height: 200px;
}

@media only screen and (max-width: 1400px) {
  body {
    overflow: scroll;
  }
}

section article table tbody tr th {
  width: 20%;
  text-align: center;
}

section article table tbody tr td {
  width: 80%;
}

section article table tbody tr td .radioDiv {
  align-items: center;
}

section article table tbody tr td .radioDiv label {
  transform: scale(0.7);
}

section article table tbody tr td .radioDiv p {
  margin-right: 1rem;
}

section article table tbody tr td .long-text {
  width: 100%;
  max-height: 200px;
  white-space: pre-line;
  border: 1px solid rgba(132, 146, 175, 0.5);
  display: inline-block;
}

section article table tbody tr td .checkBoxDiv {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

section article table tbody tr td .checkBoxDiv p {
  margin-left: 0.3rem;
  font-size: 1rem;
}

section article .signupDiv {
  display: flex;
  justify-content: center;
}

section article .signupDiv button {
  scale: 1.2;
}