@import "./../common/scss/color", './../common/scss/tableBottom';

article {
    .flexBox {
        display: flex;

        .leftBox {
            flex: 6;
            margin-right: 1%;

            @import './../common/scss/searchOption';

            .searchOption{
                .optionRow{
                    align-items: center;
                }
            }

            .tableTopDiv {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                p {
                    font-size: .8rem;
                }

                button {
                    font-size: .8rem;
                }
            }

            .tableBox {
                height: 60vh;

                table {
                    border: 1px solid $gray-light;

                    thead {
                        position: sticky;
                        top: 0;

                        tr {
                            th {
                                &:nth-child(2) {
                                    width: 5rem;
                                }

                                &:nth-child(3) {
                                    width: 6rem;
                                }

                                &:nth-child(4) {
                                    width: 5rem;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                overflow: hidden;
                                padding: 2px 0;
                                white-space: pre;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }

        .rightBox {
            flex: 4;
            border: 1px solid $gray-light;

            table {
                tbody {
                    tr {
                        th {
                            width: 40%;
                        }

                        td {
                            &.bodyData {
                                white-space: pre-wrap;
                            }
                        }
                    }
                }
            }

            .tableBottomDiv {
                display: flex;
                justify-content: flex-end;

                button {
                    margin: 0 .2rem;
                }
            }
        }
    }
}

.modal {
    .popupBody {

        table {
            border: 1px solid $gray-light;
            width: 100%;
            max-height: 100%;
            background-color: $fff;
            font-size: .8rem;
            border-spacing: 0;
            table-layout: fixed;
            word-wrap: break-word;

            tbody {
                background-color: $fff;
                color: #111111;

                tr {
                    &:nth-child(even) {
                        background-color: $white;
                    }

                    th {
                        width: 15rem;
                        text-align: left;
                        font-size: .8rem;
                        font-weight: 500;
                        border-bottom: 1px solid $gray-light;
                        padding: .5rem .2rem;
                    }

                    td {
                        border-bottom: 1px solid $gray-light;
                        padding: .2rem;
                        position: relative;

                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}