@import "./../common/scss/color";

article.menuStructure {
    .flexBox {
        display: flex;

        .leftBox {
            flex: 3;
            margin-right: 1%;

            @import './../common/scss/listWrapper';

            .flex{
                display: flex;
                button{
                    margin-right: .2rem;
                }
            }
        }

        .rightBox {
            flex: 7;
            border: 1px solid $gray-light;

            .flexArea {
                display: flex;
                height: 100%;

                .menuGroupArea {
                    border-right: 1px solid $gray-light;
                }

                .menuGroupArea,
                .menuArea {
                    h4 {
                        text-indent: 0;
                    }

                    .tableDiv {
                        height: 60vh;
                        table {
                            tbody {
                                tr {
                                    th {
                                        width: 10rem;
                                    }

                                    td {
                                        position: relative;

                                        input[type="text"] {
                                            width: 100%;
                                        }

                                        input:read-only {
                                            cursor: default;
                                            background-color: $gray-light;
                                            pointer-events: none;
                                        }

                                        .toggleDiv {
                                            transform: scale(.8);
                                        }

                                        .iconList {
                                            max-width: 250px;
                                            background-color: $white;
                                            border: 1px solid $point;
                                            padding: 5px;
                                            flex-wrap: wrap;
                                            position: absolute;
                                            top: 100%;
                                            left: 0;
                                            z-index: 1;
                                            display: none;

                                            i {
                                                width: 18%;
                                                margin: 10px 1%;
                                                text-align: center;
                                                cursor: pointer;
                                                opacity: .7;
                                                font-size: 1.1rem;
                                                color: $point;

                                                &:hover {
                                                    opacity: 1;
                                                }
                                            }

                                            &.active {
                                                display: flex;
                                            }
                                        }

                                        i {
                                            font-size: 1.2rem;
                                            color: $point;
                                            margin-right: .5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .tableBottomDiv {
                        display: none;

                        &.active {
                            display: flex;
                            justify-content: flex-end;

                            button {
                                margin: 0 .2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal {
    .popupBody {
        height: 50vh;
        .typeDiv {
            display: flex;

            button {
                padding: .5rem;
                border: 1px solid transparentize($gray, .65);
                border-bottom: none;

                &.selected {
                    background-color: transparentize($point, .7);
                    outline: 2px solid $point;
                }
            }
        }

        table {
            border: 1px solid $gray-light;
            width: 100%;
            max-height: 100%;
            background-color: $fff;
            font-size: .8rem;
            border-spacing: 0;
            table-layout: fixed;
            word-wrap: break-word;

            tbody {
                background-color: $fff;
                color: #111111;

                tr {
                    &:nth-child(even) {
                        background-color: $white;
                    }

                    th {
                        width: 15rem;
                        text-align: left;
                        font-size: .8rem;
                        font-weight: 500;
                        border-bottom: 1px solid $gray-light;
                        padding: .5rem .2rem;
                    }

                    td {
                        border-bottom: 1px solid $gray-light;
                        padding: .2rem;
                        position: relative;

                        input {
                            width: 100%;
                        }

                        .iconList {
                            max-width: 500px;
                            background-color: $white;
                            border: 1px solid $point;
                            padding: 5px;
                            flex-wrap: wrap;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            z-index: 1;
                            display: none;

                            i {
                                width: 9%;
                                margin: 10px 1%;
                                text-align: center;
                                cursor: pointer;
                                opacity: .7;
                                font-size: 1.1rem;
                                color: $point;

                                &:hover {
                                    opacity: 1;
                                }
                            }

                            &.active {
                                display: flex;
                            }
                        }

                        i {
                            font-size: 1.2rem;
                            color: $point;
                            margin-right: .5rem;
                        }
                    }
                }
            }
        }
    }
}