@import './../common/scss/tableBottom', "./../common/scss/color";

article {
    &.userList {
        .flexBox {
            display: flex;

            .leftBox {
                flex: 3;
                margin-right: 1%;

                @import './../common/scss/listWrapper';
                @import './../common/scss/searchOption';
            }

            .rightBox {
                flex: 7;
                border: 1px solid $gray-light;

                .flexArea {
                    display: flex;

                    .userArea,
                    .userAccountArea {
                        .tableDiv {
                            table {
                                tbody {
                                    tr {
                                        th {
                                            width: 10rem;
                                        }

                                        td {
                                            input[type="text"] {
                                                width: 100%;
                                            }

                                            input[name="use_start_ts_date"],
                                            input[name="use_start_ts_time"],
                                            input[name="use_end_ts_date"],
                                            input[name="use_end_ts_time"] {
                                                width: 50%;
                                            }

                                            input:read-only {
                                                cursor: default;
                                                background-color: $gray-light;
                                                pointer-events: none;
                                            }

                                            .toggleDiv {
                                                transform: scale(.8);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .tableBottomDiv {
                            display: none;

                            &.active {
                                display: flex;
                                justify-content: flex-end;

                                button {
                                    margin: 0 .2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#token_ip {
        display: none;

        .flexBox {
            display: flex;
            justify-content: space-between;

            .leftBox {
                flex: 1;
                margin-right: 1%;

                @import './../common/scss/searchOption';
                .searchOption {
                    .optionRow {
                        b {
                            grid-column: 1/7;
                        }

                        .checkBoxRow {
                            grid-column: 8/21;
                        }
                    }
                }

                .tableTopDiv {
                    align-items: flex-end;

                    .buttonsDiv {
                        display: flex;
                        align-items: center;

                        button {
                            margin-right: .2rem;
                        }
                    }
                }

                .tableBox {
                    height: 40vh;

                    table {
                        thead {
                            position: sticky;
                            top: 0;

                            tr {
                                th {
                                    &:nth-child(1) {
                                        width: 45%;
                                    }
                                }
                            }
                        }

                        tbody {
                            tr {
                                cursor: pointer;
                                transition: all .2s;

                                &:hover {
                                    background-color: transparentize($color: $point, $amount: .8);
                                }

                                &.point {
                                    background-color: transparentize($color: $point, $amount: .7);
                                }
                            }
                        }
                    }
                }
            }

            .rightBox {
                flex: 1;
                @import './../common/scss/searchOption';
            }
        }
    }
}

.modal {
    .popupBody {
        .typeDiv {
            display: flex;

            button {
                padding: .5rem;
                border: 1px solid transparentize($gray, .65);
                border-bottom: none;

                &.selected {
                    background-color: transparentize($point, .7);
                    outline: 2px solid $point;
                }
            }
        }

        table {
            border: 1px solid $gray-light;
            width: 100%;
            max-height: 100%;
            background-color: $fff;
            font-size: .8rem;
            border-spacing: 0;
            table-layout: fixed;
            word-wrap: break-word;

            tbody {
                background-color: $fff;
                color: #111111;

                tr {
                    &:nth-child(even) {
                        background-color: $white;
                    }

                    th {
                        width: 15rem;
                        text-align: left;
                        font-size: .8rem;
                        font-weight: 500;
                        border-bottom: 1px solid $gray-light;
                        padding: .5rem .2rem;
                    }

                    td {
                        border-bottom: 1px solid $gray-light;
                        padding: .2rem;

                        input {
                            width: 100%;
                        }

                        input[name="use_start_ts_date"],
                        input[name="use_start_ts_time"],
                        input[name="use_end_ts_date"],
                        input[name="use_end_ts_time"] {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}