@import "./../common/scss/color";

article {
    .flexBox {
        display: flex;

        .leftBox {
            flex: 3;
            margin-right: 1%;
            border: 1px solid $gray-light;

            @import './../common/scss/listWrapper';
        }

        .rightBox {
            flex: 7;
            border: 1px solid $gray-light;

                table {
                    tbody {
                        tr {
                            th {
                                width: 10rem;
                            }

                            td {
                                input {
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
            
            .bottomDiv{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: .5rem;
                button{
                    margin: 0 .1rem;
                }
            }
        }
    }

    &#apiAuth, &#menuAuth, &#menuApiAuth {
        .flexBox {
            .rightBox {
                .infoDiv {
                    max-height: 60vh;
                    table {
                        tbody {
                            tr {
                                th,
                                td {
                                    .checkBoxDiv {
                                        display: flex;
                                        align-items: center;

                                        label {
                                            scale: .9;
                                        }

                                        span {
                                            margin-left: .5rem;
                                            font-size: .9rem;
                                        }
                                    }
                                }
                                th{
                                    width: 15rem;
                                }
                                td{
                                    padding: .5rem 0;
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;

                                    .checkBoxDiv{
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal {
    .popupBody {

        table {
            border: 1px solid $gray-light;
            width: 100%;
            max-height: 100%;
            background-color: $fff;
            font-size: .8rem;
            border-spacing: 0;
            table-layout: fixed;
            word-wrap: break-word;

            tbody {
                background-color: $fff;
                color: #111111;

                tr {
                    &:nth-child(even) {
                        background-color: $white;
                    }

                    th {
                        width: 15rem;
                        text-align: left;
                        font-size: .8rem;
                        font-weight: 500;
                        border-bottom: 1px solid $gray-light;
                        padding: .5rem .2rem;
                    }

                    td {
                        border-bottom: 1px solid $gray-light;
                        padding: .2rem;
                        position: relative;

                        input {
                            width: 100%;
                        }

                        .iconList {
                            max-width: 500px;
                            background-color: $white;
                            border: 1px solid $point;
                            padding: 5px;
                            flex-wrap: wrap;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            z-index: 1;
                            display: none;

                            i {
                                width: 9%;
                                margin: 10px 1%;
                                text-align: center;
                                cursor: pointer;
                                opacity: .7;
                                font-size: 1.1rem;
                                color: $point;

                                &:hover {
                                    opacity: 1;
                                }
                            }

                            &.active {
                                display: flex;
                            }
                        }

                        i {
                            font-size: 1.2rem;
                            color: $point;
                            margin-right: .5rem;
                        }
                    }
                }
            }
        }
    }
}