@import "./../common/scss/color", './../common/scss/tableBottom';

article{
    .flexBox{
        display: flex;

        .leftBox{
            flex: 6;
            margin-right: 1%;

            @import './../common/scss/searchOption';

            .tableBox{
                height: 60vh;
                table{
                    border: 1px solid $gray-light;
                    thead{
                        position: sticky;
                        top: 0;
                        tr{
                            th{
                                &:nth-child(2){
                                    width: 5rem;
                                }
                                &:nth-child(3){
                                    width: 6rem;
                                }
                                &:nth-child(4){
                                    width: 5rem;
                                }
                            }
                        }
                    }
                    tbody{
                        tr {
                            &.caution{
                                background-color: #ffa60033;
                            }
                            td {
                                overflow: hidden;
                                padding: 2px 0;
                                white-space: pre;
                                text-overflow: ellipsis;

                                &#noData{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .rightBox{
            flex: 4;
            border: 1px solid $gray-light;
            table{
                tbody{
                    tr{
                        th{
                            width: 40%;
                        }
                        td{
                            &.bodyData{
                                white-space: pre-wrap;
                            }
                        }
                    }
                }
            }
        }
    }
}