@import './../common/scss/color', './../common/scss/tableBottom';

article {
    &#apiList {
        .flexBox {
            display: flex;
            justify-content: space-between;

            .leftBox {
                width: 60%;
                @import './../common/scss/searchOption';

                .tableTopDiv {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    p {
                        font-size: .8rem;
                    }

                    button {
                        font-size: .8rem;
                    }
                }

                .tableDiv {
                    max-height: 50vh;
                    position: relative;

                    table {
                        thead {
                            position: sticky;
                            top: 0;

                            th {

                                &:first-child,
                                &:last-child {
                                    width: 4rem;
                                }
                            }
                        }

                        tbody {
                            tr {
                                cursor: pointer;
                                transition: all .2s;

                                &:hover {
                                    background-color: transparentize($color: $point, $amount: .8);
                                }

                                &.unActivated {
                                    background-color: transparentize($crush, .8);
                                }

                                td {
                                    &:last-child {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .rightBox {
                width: 39%;
                border: 1px solid $gray-light;

                h4 {
                    text-indent: 0;
                }

                .tableDiv {
                    table {
                        tbody {
                            tr {
                                th {
                                    width: 10rem;
                                }

                                td {
                                    input[type="text"] {
                                        width: 100%;
                                    }

                                    .toggleDiv {
                                        transform: scale(.8);
                                    }
                                }
                            }
                        }
                    }
                }

                .tableBottomDiv {
                        display: flex;
                        justify-content: flex-end;

                        button {
                            margin: 0 .2rem;
                        }
                }
            }
        }
    }

    &#apiTest {
        .flexBox {
            display: flex;

            .leftBox {
                flex: 3;
                margin-right: 1%;

                @import './../common/scss/listWrapper';

                .listWrapper {
                    .apiListDiv {
                        max-height: 83vh;

                        .depth1Title {
                            cursor: default !important;
                            pointer-events: none;
                        }

                        ul {
                            li {
                                &.unUsed {
                                    p {
                                        position: relative;
                                        color: $gray;

                                        &::after {
                                            content: "\f05e";
                                            font-family: "Font Awesome 5 Free";
                                            font-weight: 700;
                                            color: $crush;
                                            display: block;
                                            position: absolute;
                                            top: 50%;
                                            right: .5rem;
                                            transform: translateY(-50%);
                                        }
                                    }
                                }

                                &[data-method="GET"] {
                                    &::after {
                                        content: 'GET';
                                        position: absolute;
                                        top: 50%;
                                        left: -2.5rem;
                                        display: block;
                                        color: adjust-hue($point, 50);
                                        font-size: .8rem;
                                        transform: translate(0, -50%);
                                    }
                                }

                                &[data-method="POST"] {
                                    &::after {
                                        content: 'POST';
                                        position: absolute;
                                        top: 50%;
                                        left: -2.5rem;
                                        display: block;
                                        color: $point;
                                        font-size: .8rem;
                                        transform: translate(0, -50%);
                                    }
                                }

                                &[data-method="PUT"] {
                                    &::after {
                                        content: 'PUT';
                                        position: absolute;
                                        top: 50%;
                                        left: -2.5rem;
                                        display: block;
                                        color: adjust-hue($point, 50);
                                        font-size: .8rem;
                                        transform: translate(0, -50%);
                                    }
                                }

                                &[data-method="DELETE"] {
                                    &::after {
                                        content: 'DEL';
                                        position: absolute;
                                        top: 50%;
                                        left: -2.5rem;
                                        display: block;
                                        color: $crush;
                                        font-size: .8rem;
                                        transform: translate(0, -50%);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .rightBox {
                flex: 7;

                .method {
                    width: 100%;
                    height: auto;
                    display: flex;
                    background-color: $gray-light;
                    border-radius: 4px;
                    overflow: hidden;

                    select {
                        border: none;
                        border-right: 1px solid $gray;
                        padding: .5rem;
                        background: transparent;
                        color: $point-darkest;
                    }

                    input {
                        width: 100%;
                        border: none;
                        background: transparent;
                        margin: 0 10px;
                        text-indent: 5px;
                        font-weight: 300;
                        letter-spacing: 1px;
                    }

                    button {
                        border: none;
                        background: $point;
                        color: #fff;
                        padding: 0 1rem;
                        cursor: pointer;
                        font-size: 1rem;

                        &:hover {
                            filter: brightness(.8);
                        }
                    }
                }

                ul.tagBox {
                    display: flex;
                    padding: 5px 0;
                    margin-top: .5rem;
                    border-bottom: 1px solid $point;

                    li {
                        margin: 0 10px;
                        cursor: pointer;
                        color: $gray;
                        font-weight: 300;
                    }

                    li.active {
                        color: $point;
                    }
                }

                ul.apiInputBox {
                    width: 100%;
                    margin: 10px 0;
                    min-height: 20vh;
                    max-height: 40vh;

                    li {
                        width: 100%;
                        display: none;

                        button#newTd {
                            margin-left: 10px;
                        }

                        .bodyType {
                            margin: 10px 0;

                            .radioDiv {
                                display: flex;
                                align-items: center;

                                label {
                                    transform: scale(.7);
                                    margin: 0;
                                }

                                p {
                                    font-size: .8rem;
                                    margin: 0;
                                    margin-right: 10px;
                                }
                            }
                        }

                        button.hiddenHeader {
                            border: none;
                            background: none;
                            cursor: pointer;
                            color: $gray;
                            opacity: .7;
                            padding: 3.5px 0;
                            display: block;
                            margin: 10px 0 10px 10px;

                            &:hover {
                                opacity: 1;
                            }
                        }

                        #bodyEditor {
                            width: 99%;
                            height: auto;
                            display: none;
                        }
                    }

                    li.active {
                        display: block;
                    }

                    table {
                        margin-top: 10px;

                        thead {
                            background: none;

                            tr {
                                td {
                                    color: $gray;
                                    font-size: 1rem;
                                    border: 1px solid $white-dark;
                                    background-color: $gray-light;
                                    padding: .4rem 0;
                                    text-indent: .5rem;

                                    &:last-child {
                                        width: 40px;
                                    }
                                }
                            }
                        }

                        tbody {
                            text-indent: 0;

                            tr {
                                td {
                                    padding: 0;
                                    color: $gray;
                                    font-size: 1rem;
                                    border: 1px solid $gray-light;

                                    input {
                                        width: 100%;
                                        padding: 5px 0;
                                        border: none;

                                        text-indent: 10px;

                                        &:focus {
                                            outline: none;
                                        }

                                        &::placeholder {
                                            color: $gray-light;
                                        }
                                    }

                                    &:last-child {
                                        width: 40px;
                                        text-align: center;

                                        i {
                                            color: $crush;
                                            opacity: .7;
                                            cursor: pointer;

                                            &:hover {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }

                                &:first-child {
                                    td {
                                        border-top: none;
                                    }
                                }
                            }
                        }
                    }

                    li.apiHeader {
                        table {
                            tbody {
                                tr.hidden {
                                    display: none;

                                    td {
                                        background-color: $white-dark;
                                        color: $gray;

                                        input {
                                            background-color: $white-dark;
                                            color: $gray;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .request {
                    border-top: 1px solid $point;
                    padding-top: 5px;

                    .requestBox {
                        font-weight: 300;
                        padding: 10px;
                        min-height: 20vh;
                        max-height: 40vh;

                        pre {
                            width: 100%;
                            height: auto;
                            font-size: .8rem;
                            white-space: pre-wrap;
                        }
                    }
                }

                .response {
                    width: 100%;
                    border-top: 1px solid $point;
                    padding-top: 5px;

                    .responseBox {
                        width: 100%;
                        font-weight: 300;
                        padding: 10px;
                        min-height: 20vh;
                        max-height: 40vh;

                        pre {
                            width: 100%;
                            height: auto;
                            font-size: .8rem;
                            white-space: pre-wrap;
                            max-width: 40vw;
                        }
                    }
                }
            }
        }
    }
}

.modal {
    .popupBody {

        table {
            border: 1px solid $gray-light;
            width: 100%;
            max-height: 100%;
            background-color: $fff;
            font-size: .8rem;
            border-spacing: 0;
            table-layout: fixed;
            word-wrap: break-word;

            tbody {
                background-color: $fff;
                color: #111111;

                tr {
                    &:nth-child(even) {
                        background-color: $white;
                    }

                    th {
                        width: 15rem;
                        text-align: left;
                        font-size: .8rem;
                        font-weight: 500;
                        border-bottom: 1px solid $gray-light;
                        padding: .5rem .2rem;
                    }

                    td {
                        border-bottom: 1px solid $gray-light;
                        padding: .2rem;
                        position: relative;

                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}