@import "./../common/scss/color", "./../common/scss/animation";

article {
    &#summary {
        width: 100%;
        height: 300px;

        .title {
            width: 100%;
            padding: 5px 0;
            color: $white;
            display: flex;
            justify-content: space-between;
            background-color: $point;

            .leftTitle {
                padding: 0 10px;

                p {
                    margin: 0;
                    font-weight: 500;
                }
            }

            button.interval {
                margin-right: 10px;
                display: flex;
                align-items: center;
                font-size: 1rem;
                border: none;
                background: none;
                cursor: pointer;
                color: $fff;

                p {
                    margin: 0;
                    margin-right: 5px;
                    font-weight: 500;
                }

                i {
                    padding: 4px 0;
                }
            }
        }

        .content {
            width: 100%;
            height: calc(100% - 34px);
            background-color: $point-dark;
            display: grid;
            grid-template-columns: repeat(20, 5%);
            align-content: center;
            justify-items: center;

            .apiErr {
                margin: 0 40px;
                grid-column: 11/14;

                i {
                    font-size: 7rem;
                    color: $point;
                    color: $point;
                }

                .triangle {
                    display: none;
                }
            }

            .apiReq {
                margin: 0 40px;
                grid-column: 8/11;

                i {
                    font-size: 7rem;
                    color: $point;
                    animation: glow2 infinite 2s linear;
                }
            }

            h5 {
                text-indent: 0;
                text-align: center;
                color: $fff;
            }

            .apiErr.active {
                position: relative;

                i {
                    color: $crush;
                }

                .triangle {
                    display: block;
                    position: absolute;
                    -webkit-text-stroke: 3px $crush;
                    color: transparent;
                    font-size: 7rem;
                    top: 0;
                    left: 0;
                    animation: alert2 infinite 1s ease-out;
                }
            }

            .apiTimeGap {
                align-self: center;
                grid-column: 2/5;
                margin: 0 20px;
                position: relative;

                p {
                    text-align: center;
                    margin: 0;
                    font-size: 1rem;
                    color: $white;
                }
            }

            .arrowAnimation {
                grid-column: 5/7;
                align-self: center;
                width: 70px;
                height: 100px;
                position: relative;
                margin: 0 10px;

                i {
                    position: absolute;
                    font-size: 4rem;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $point;

                    &:nth-child(1) {
                        left: -30%;
                        animation: arrowRight 1.5s infinite 0s ease;
                    }

                    &:nth-child(2) {
                        left: 10%;
                        animation: arrowRight 1.5s infinite .15875s ease;
                    }

                    &:nth-child(3) {
                        left: 50%;
                        animation: arrowRight 1.5s infinite .375s ease;
                    }
                }
            }

            .checkAPIBox {
                align-self: center;
                grid-column: 15/19;

                p {
                    margin: 0;
                    color: $white;
                }

                button#apiAllCheckBtn {
                    padding: 5px 10px;
                    cursor: pointer;
                    font-size: 1rem;
                    display: block;
                    margin: 5px auto 0 auto;
                }
            }
        }
    }

    &#apiStatus {

        .flexBox {
            display: flex;

            .leftBox {
                flex: 6;
                margin-right: 1%;

                @import './../common/scss/searchOption';

                .tableTopDiv {

                    .detailCount {
                        display: flex;
                        align-items: center;
                        margin-left: 15px;

                        .countBox {
                            display: flex;
                            align-items: center;
                            position: relative;
                            margin-right: 2rem;

                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: -15px;
                                width: 10px;
                                height: 10px;
                                border-radius: 5px;
                                transform: translateY(-50%);
                            }

                            p {
                                font-size: .8rem;
                            }

                            &.normal {
                                &::before {
                                    background-color: $point;
                                }

                                p {
                                    color: $point;
                                }
                            }

                            &.caution {
                                &::before {
                                    background-color: $caution;
                                }

                                p {
                                    color: $caution;
                                }
                            }

                            &.error {
                                &::before {
                                    background-color: $crush;
                                }

                                p {
                                    color: $crush;
                                }
                            }

                            &.unknown {
                                &::before {
                                    background-color: $fff;
                                    border: 1px solid $gray;
                                }

                                p {
                                    color: $gray;
                                }
                            }
                        }
                    }

                }

                .tableBox {
                    max-height: 70vh;
                    thead {
                        tr {
                            th {
                                &:nth-child(3){
                                    width: 6rem;
                                }
                                &:nth-child(4) {
                                    width: 4rem;
                                }
                                &:nth-child(5) {
                                    width: 6rem;
                                }
                            }
                        }
                    }
                    tbody{
                        tr{
                            transition: all .2s;
                            cursor: pointer;
                            background-color: transparentize($point, .7);

                            &.unknown{
                                background-color: $fff;
                            }
                        }
                    }
                }
            }

            .rightBox {
                flex: 4;

                .log{
                    max-height: calc(70vh + 6rem);

                    table{
                        tbody{
                            tr{
                                background-color: #333b44;
                                color: $white;
                                &.ok{
                                    b,i{
                                        color: #197fff;
                                    }
                                }
                                &.error{
                                    b,i{
                                    color: #eb606b;
                                    }
                                }
                                &.warning{
                                    b,i{
                                    color: #fac863;
                                    }
                                }
                                &.unknown{
                                    b,i{
                                    color: #bb80b3;
                                    }
                                }

                                td{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}