@import "./../common/scss/color";

textarea#ckEditor {
    display: none;
}

.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-width: 550px;
    min-height: 500px;
}

#wrap {
    width: 600px;
    min-width: 600px;

    .right,
    main,
    .container,
    section {
        width: 600px;
    }
}

main {
    .toolbar {
        display: none;
    }
}

.toolbar{
    display: none !important;
}