@import "./../common/scss/color";

article {
	.box {
		width: 50%;
		height: auto;
		padding: .5rem;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		p.leftKey {
			width: 30%;
			border-right: 2px solid $white-dark;
			font-size: 1rem;
		}
		input {
			width: 60%;
			padding: .2em 0;
			text-indent: .5em;
		}
	}
	.id.box {
		margin-top: 20px;
	}
	.pw.box {
		position: relative;
		span.showPw {
			position: absolute;
			top: 50%;
			right: 1%;
			transform: translateY(-50%);
			color: #c8c8c8;
			cursor: pointer;
			&:hover {
				color: $gray;
			}
		}
	}
	.social {
		width: 100%;
		height: auto;
		margin-top: 20px;
		display: flex;
		padding: .5rem;
		box-sizing: border-box;
		.box {
			width: 25%;
			height: 80px;
			border-radius: 15px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem;
			box-sizing: border-box;
			margin: 0 1.5%;
			cursor: pointer;
			position: relative;
			max-width: 400px;
			img {
				width: 20%;
				max-width: 70px;
			}
			.loginInfo {
				width: 75%;
			}
			.hoverBox {
				width: 100%;
				height: 100%;
				position: absolute;
				border-radius: 15px;
				backdrop-filter: blur(3px);
				background-color: #0005;
				font-size: 2rem;
				font-weight: 900;
				color: $white;
				text-align: center;
				line-height: 80px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all .3s;
				opacity: 0;
			}
		}
		.box.unactivated {
			filter: grayscale(1);
		}
		.hiworks {
			background-color: #0197d8;
			.loginInfo {
				p {
					font-size: 1rem;
					font-weight: 500;
					margin: 0;
					padding: 0;
					color: $fff;
				}
			}
		}
	}
}
