@import "./../common/scss/reset", "./../common/scss/color", "./../common/scss/animation", "./../common/scss/loading";

span {
    &.version {
        color: $point;
        font-size: .8rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        b {
            font-weight: 500;
        }
    }
}

#wrap {
    width: 100%;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $point-darkest;
    min-width: 400px;
}

.login {
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 1px solid $point-darkest;
    margin: 0 auto;
    padding: 30px 0;

    .logoBox {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;

        i {
            font-size: 2rem;
            color: $fff;
        }

        img {
            width: 150px;
            height: auto;
            margin: 0 auto;

            &:last-child {
                width: 110px;
            }
        }
    }

    .loginBox {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftBox {
            width: 80%;
            height: auto;

            .input {
                width: 100%;
                max-width: 1000px;
                height: 50px;
                display: block;
                margin: 0 auto;
                border: 0px solid $gray-light;
                text-indent: 10px;
            }

            .idDiv {
                width: 100%;
                height: auto;
                margin: 0 auto;
                padding: .5rem 0;
                position: relative;

                span {
                    color: $white;
                    margin-bottom: .5rem;
                    display: block;

                    &.chkId {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(-10%, -50%);
                        color: $crush;
                        font-size: .8rem;
                        font-weight: 300;
                        display: none;
                    }
                }
            }

            .pwDiv {
                width: 100%;
                height: auto;
                margin: 0 auto;
                padding: .5rem 0;
                position: relative;

                span {
                    color: $white;
                    margin-bottom: .5rem;
                    display: block;

                    &.chkPw {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(-10%, -50%);
                        color: $crush;
                        font-size: .8rem;
                        font-weight: 300;
                        display: none;
                    }
                }
            }
        }

        .rightBox {
            width: 18%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            #connectBtn {
                width: 100%;
                height: 120px;
                display: block;
                border: 0;
                border-radius: 0;
                background: $point;
                color: $fff;
                cursor: pointer;

                &:active {
                    background: $point-dark;
                }
            }
        }
    }

    .bottomTextBox {
        width: 90%;
        height: auto;
        padding: 1rem 0;
        margin: .5rem auto;
        background-color: $gray;
    
        h4 {
            text-align: center;
            color: $white;
            font-size: 1.5rem;
        }
    
        p {
            text-align: center;
            font-weight: 400;
            color: $white;
        }
    }
    
    .goLogin {
        width: 90%;
        height: auto;
        padding: 1rem 0;
        margin: 0 auto;
    
        a {
            color: $gray;
            margin: 0 auto;
            display: block;
            text-align: left;
    
            i {
                transform: rotate(180deg);
                margin: 0 .5rem 0 0;
            }
        }
    }
}