@import "./../common/scss/reset", "./../common/scss/color";

#wrap {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $point-darkest;
}
.container {
	width: 100%;
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
	padding: 2rem;
	border: 1px solid $white;
	img.logo {
		width: 100px;
		position: absolute;
	}
	img {
		width: 200px;
		height: auto;
		margin: 0 auto;
	}
	h1 {
		font-size: 5rem;
		text-align: center;
		padding: 2rem;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 500;
		color: $white;
	}
	p {
		font-size: 1.5rem;
		text-align: center;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 300;
		color: $gray;
	}
	p.error {
		font-size: 1.2rem;
		padding: .5rem 0;
	}
	p.contact {
		font-size: 1.2rem;
		font-weight: 100;
		padding-top: .5rem;
	}
	span.goback {
		color: $white;
		text-decoration: underline;
		font-size: 1rem;
		text-align: left;
		cursor: pointer;
	}
	span {
		color: $white;
		font-size: 1.2rem;
	}
}
