@import "./../common/scss/color";

#map {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	h5 {
		margin: 0;
		padding: 0;
		text-indent: 0;
		text-align: left;
		padding-bottom: 10px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			background-color: $gray-light;
		}
	}
	.menuBox {
		width: 20%;
		height: auto;
		ul.subMenuBox {
			padding: 10px 0;
			li {
				padding: 2px 0;
			}
			li.locked {
				a {
					color: $gray;
					pointer-events: none;
				}
				i.fa-lock {
					color: $gray;
					margin-left: 20px;
					font-size: .8rem;
				}
			}
		}
	}
	.notMenuBox {
		width: 20%;
		height: auto;
		ul.pageBox {
			padding: 10px 0;
			li {
				padding: 2px 0;
			}
			li.locked {
				a {
					color: $gray;
					pointer-events: none;
				}
				i.fa-lock {
					color: $gray;
					margin-left: 20px;
					font-size: .8rem;
				}
			}
		}
	}
}
