@import "./../common/scss/color", './../common/scss/tableBottom';

.stickyIndex {
    width: 19%;
    position: sticky;
    float: left;
    top: 0;
    left: 0;
    border: 1px solid $gray-light;
    margin-top: 20px;

    span {
        display: block;
        text-indent: .5rem;
        font-size: .9rem;
        color: $gray;
        font-weight: 500;
        transition: all .2s;
        padding: .2rem 0;
        position: relative;
        cursor: pointer;

        &::after{
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            width: 90%;
            height: 1px;
            background-color: $gray-light;
        }
        &:hover{
            color: $point;
        }
        &:last-child{
            &::after{
                display: none;
            }
        }
    }
}

article {
    width: 80% !important;
    height: calc(100vh - 170px);
    margin: 20px 0 20px 21% !important;

    &#table {
        @import './../common/scss/searchOption';
    }
    &#listDiv{
        @import './../common/scss/listWrapper';
        .listWrapper{
            width: 30%;
        }
    }
}