@import "./../../system/css/common/scss/color";

article{
    .gridArea{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(11, 1fr);
        column-gap: 1%;
        row-gap: 1%;

        .gridItem {
            background-color: $fff;
            border: 1px solid $gray-light;
            transition: all .2s;

            &:nth-child(1){
                grid-column: 1/6;
                grid-row: 1/4;
            }
            &:nth-child(2){
                grid-column: 6/11;
                grid-row: 1/4;
            }
            &:nth-child(3){
                grid-column: 1/6;
                grid-row: 4/8;
            }
            &:nth-child(4){
                grid-column: 6/11;
                grid-row: 4/8;
            }
        
            .title {
                width: 100%;
                height: 2rem;
                display: flex;
                justify-content: space-between;
                background-color: $point;
        
                .leftTitle {
                    margin: 0 10px;
        
                    p {
                        font-size: .8rem;
                        line-height: 2rem;
                        margin: 0;
                        padding: 0;
                        color: $fff;
                    }
                }
        
                .rightIcon {
                    margin: 0 5px;
        
                    i {
                        margin: 0 5px;
                        cursor: pointer;
                        font-size: 1rem;
                        line-height: 2rem;
                        color: $fff;
                    }
                }
            }
        
            .content {
                width: 100%;
                height: calc(100% - 2rem);
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: $fff;
        
                canvas {
                    width: 100% !important;
                    max-height: 100% !important;
                }
            }
        
            &.apiStatus {
                .content {
                    background-color: $point-dark;
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);
                    grid-template-rows: repeat(4, 25%);
        
                    .apiTimeGap {
                        grid-column: 1/3;
                        grid-row: 2/4;
                        align-self: center;
                        justify-self: center;
                        h5 {
                            font-size: .9rem;
                        }
        
                        p {
                            font-size: .8rem;
                            text-align: center;
                            color: $fff;
                        }
                    }
        
                    .arrowAnimation {
                        grid-column: 3/4;
                        grid-row: 2/4;
                        align-self: center;
                        justify-self: center;
                        display: flex;
                        align-items: center;
                        position: relative;
                        width: 50%;
                        i {
                            font-size: 1.5rem;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            color: $point;
                            &:nth-child(1) {
                                left: 0;
                                animation: arrowRight 1.2s infinite 0s ease;
                            }
        
                            &:nth-child(2) {
                                left: 50%;
                                animation: arrowRight 1.2s infinite .15875s ease;
                            }
        
                            &:nth-child(3) {
                                left: 100%;
                                animation: arrowRight 1.2s infinite .375s ease;
                            }
                        }
                    }
        
                    .apiReq {
                        grid-column: 4/6;
                        grid-row: 2/4;
                        align-self: center;
                        justify-self: center;
                        i {
                            animation: glow infinite 2s linear;
                        }
                    }

                    .apiErr {
                        grid-column: 6/8;
                        grid-row: 2/4;
                        align-self: center;
                        justify-self: center;
                        i {
                            color: $point;
                        }
        
                        .triangle {
                            display: none;
                        }
                    }
        
                    .checkAPIBox {
                        grid-column: 8/11;
                        grid-row: 2/4;
                        align-self: center;
                        justify-self: center;
                        h5 {
                            font-size: .9rem;
                            font-weight: 500;
                        }
        
                        p {
                            margin: 0;
                            color: $white;
                            font-size: .9rem;
                            text-align: center;
                        }
                    }
        
                    h5 {
                        text-indent: 0;
                        text-align: center;
                        color: $fff;
                    }
        
                    i {
                        font-size: 5rem;
                        color: $point;
                    }
        
                    .apiErr.active {
                        position: relative;
        
                        i {
                            color: $crush;
                        }
        
                        .triangle {
                            display: block;
                            position: absolute;
                            -webkit-text-stroke: 3px $crush;
                            color: transparent;
                            font-size: 5rem;
                            top: 0;
                            left: 0;
                            animation: alert infinite 1s ease-out;
                        }
                    }
                }
            }
        }
    }
}
