

section {
    padding-top: 0 !important;

    ul.tabList {
        z-index: 1;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: transparentize($white, .1);
        backdrop-filter: blur(5px);
        padding-bottom: 15px;
        border-bottom: 1px solid $point-light;

        li {
            color: transparentize($point, .5);
            font-size: .9rem;
            cursor: pointer;
            position: relative;
            transition: all .2s;
            padding: 0 10px;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                width: 1.5rem;
                height: 2px;
                display: block;
                background-color: transparentize($point, .7);
                transition: all .2s;
            }

            &:hover {
                color: $point;

                &::after {
                    width: 80%;
                    background-color: $point;
                }
            }

            &.active {
                color: $point;

                &::after {
                    width: 80%;
                    background-color: $point;
                }
            }
        }
    }

    button.allMoreInfo {
        display: block;
        float: right;
        position: sticky;
        top: calc(.9rem + 25px);
        z-index: 1;
    }

    article {
        &.진행상태 {
            .processFlex {
                display: flex;
                justify-content: space-around;
                padding: 10px 30px;
                align-items: center;

                p {
                    font-size: 1.5rem;
                    color: $point-light;
                }

                strong {
                    font-size: 2rem;
                    color: $point;
                    animation: glow infinite 2s linear;
                }

                i {
                    font-size: 1.7rem;
                    color: $point-light;
                }
            }
        }

        &.진행정보히스토리 {
            table {
                thead {
                    td {
                        @for $i from 1 to 6 {
                            &:nth-child(#{$i}) {
                                @if($i ==1) {
                                    width: 20%;
                                    max-width: 170px;
                                }

                                @else if($i ==5) {
                                    width: 100%;
                                }

                                @else {
                                    width: 10%;
                                    max-width: 100px;
                                }
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        &.hide {
                            display: none;
                        }

                        th {
                            text-align: center;

                            &.moreInfoTh{
                                text-align: center;
                            }

                            span.moreInfo {
                                color: transparentize($point, .3);
                                cursor: pointer;

                                &:hover {
                                    color: $point;
                                }

                                &.crush {
                                    color: transparentize($crush, .3);

                                    &:hover {
                                        color: $crush;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.승인정보,
        &.회원정보,
        &.신청정보 {
            table {
                tbody {
                    tr {
                        &.hide {
                            display: none;
                        }

                        th {
                            width: 20%;
                            text-align: center;
                            // border-bottom: 1px solid $point-light;
                            padding: 10px 0;

                            span.moreInfo {
                                color: transparentize($point, .3);
                                cursor: pointer;

                                &:hover {
                                    color: $point;
                                }

                                &.crush {
                                    color: transparentize($crush, .3);

                                    &:hover {
                                        color: $crush;
                                    }
                                }
                            }

                            &[colspan="2"] {
                                text-align: left;

                                &.moreInfoTh {
                                    text-align: center;
                                }
                            }
                        }

                        td {
                            padding: 10px 0;

                            input {
                                width: 90%;
                                border: 1px solid $gray-light;
                            }

                            select {
                                border: 1px solid $gray-light;
                            }

                            textarea {
                                resize: none;
                                border: 1px solid $point-light;
                                width: 90%;
                                max-height: 200px;

                                &:focus {
                                    outline: 1px solid $point-light;
                                }
                            }

                            &.postal_code {
                                input {
                                    width: 25%;
                                    pointer-events: none;
                                    background-color: $gray-light;
                                }

                                i {
                                    color: transparentize($point, .3);
                                    padding: 0 .2rem;
                                    cursor: pointer;

                                    &:hover {
                                        color: $point-dark;
                                    }
                                }
                            }

                            &.location_address {
                                input {
                                    width: 44%;

                                    &:first-child {
                                        margin-right: 2%;
                                        pointer-events: none;
                                        background-color: $gray-light;
                                    }
                                }
                            }
                        }

                        &:last-child {

                            th,
                            td {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
}