
section{
    article{
        table{
            tbody{
                tr{
                    th{
                        width: 20%;
                        text-align: center;
                    }
                    td{
                        width: 80%;
                        
                        .radioDiv{
                            align-items: center;
                            label{
                                transform: scale(.7);
                            }
                            p{
                                margin-right: 1rem;
                            }
                        }
                        
                        .long-text{
                            width: 100%;
                            max-height: 200px;
                            white-space: pre-line;
                            border: 1px solid transparentize($gray, .65);
                            display: inline-block;
                        }

                        .checkBoxDiv{
                            margin-top: .5rem;
                            display: flex;
                            align-items: center;

                            p{
                                margin-left: .3rem;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .signupDiv{
            display: flex;
            justify-content: center;

            button{
                scale: 1.2;
            }
        }
    }
}