@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  display: block;
}

header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}

@media screen and (max-width: 1800px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 1700px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 13px;
  }
}
@-webkit-keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes shake {
  0% {
    right: 0;
  }
  20% {
    right: 0.3rem;
  }
  45% {
    right: -0.3rem;
  }
  55% {
    right: 0.3rem;
  }
  80% {
    right: -0.3rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes shake {
  0% {
    right: 0;
  }
  20% {
    right: 0.3rem;
  }
  45% {
    right: -0.3rem;
  }
  55% {
    right: 0.3rem;
  }
  80% {
    right: -0.3rem;
  }
  100% {
    right: 0rem;
  }
}
@-webkit-keyframes glow {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes glow {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
  100% {
    filter: brightness(100%);
  }
}
@-webkit-keyframes glow2 {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes glow2 {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}
@-webkit-keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}
@keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}
@-webkit-keyframes alert2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes alert2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes arrowRight {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(50%);
  }
}
@keyframes arrowRight {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(50%);
  }
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes shake {
  0% {
    right: 0;
  }
  20% {
    right: 0.3rem;
  }
  45% {
    right: -0.3rem;
  }
  55% {
    right: 0.3rem;
  }
  80% {
    right: -0.3rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes glow {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes glow2 {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}
@keyframes alert2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes arrowRight {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(50%);
  }
}
.loadingBox {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4666666667);
  display: none;
}
.loadingBox.on {
  display: block;
}
.loadingBox .loading {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 50%;
  border: 0 5px 5px 5px;
  border-style: solid;
  border-color: transparent #e9ebec #e9ebec #e9ebec;
  -webkit-animation: infinite 2s linear rotate;
          animation: infinite 2s linear rotate;
}

span.version {
  color: #5584ff;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
span.version b {
  font-weight: 500;
}

#wrap {
  width: 100%;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  align-items: center;
  background-color: #0e1a35;
  min-width: 400px;
  position: relative;
}
#wrap .login {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 1px solid #0e1a35;
  margin: 0 auto;
  padding: 30px 0;
}
#wrap .login img {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}
#wrap .login img.logo {
  padding: 15px 0;
}
#wrap .login .loginBox {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap .login .loginBox .leftBox {
  width: 80%;
  height: auto;
}
#wrap .login .loginBox .leftBox .input {
  width: 100%;
  max-width: 1000px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border: 0px solid #e9ebec;
  text-indent: 10px;
}
#wrap .login .loginBox .leftBox .idDiv {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem 0;
  position: relative;
}
#wrap .login .loginBox .leftBox .idDiv span {
  color: #f6f7fa;
  margin-bottom: 0.5rem;
  display: block;
}
#wrap .login .loginBox .leftBox .idDiv span.chkId {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
  color: #f83c7b;
  font-size: 0.8rem;
  font-weight: 300;
  display: none;
}
#wrap .login .loginBox .leftBox .pwDiv {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem 0;
  position: relative;
}
#wrap .login .loginBox .leftBox .pwDiv span {
  color: #f6f7fa;
  margin-bottom: 0.5rem;
  display: block;
}
#wrap .login .loginBox .leftBox .pwDiv span.chkPw {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
  color: #f83c7b;
  font-size: 0.8rem;
  font-weight: 300;
  display: none;
}
#wrap .login .loginBox .rightBox {
  width: 18%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .login .loginBox .rightBox #loginOkBtn {
  width: 100%;
  height: 120px;
  display: block;
  border: 0;
  border-radius: 0;
  background: #5584ff;
  color: #ffffff;
  cursor: pointer;
}
#wrap .login .loginBox .rightBox #loginOkBtn:active {
  background: #3755a4;
}
#wrap .login .idSaveDiv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#wrap .login .idSaveDiv label.checkBox {
  width: 15px;
  height: 15px;
  border: 3px solid rgba(132, 146, 175, 0.7);
  border-radius: 5px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
  transform: scale(0.8);
}
#wrap .login .idSaveDiv input.chkBox {
  display: none;
}
#wrap .login .idSaveDiv input.chkBox:checked + label.checkBox {
  background-color: #5584ff;
}
#wrap .login .idSaveDiv input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 3px;
  width: 10px;
  height: 13px;
  box-shadow: inset 3px 3px #ffffff;
  transform: rotate(-135deg);
}
#wrap .login .idSaveDiv span {
  color: #e9ebec;
  margin-left: 5px;
  font-size: 0.8rem;
}
#wrap .login .ssoLogin {
  width: 90%;
  height: auto;
  margin: 1rem auto;
}
#wrap .login .ssoLogin a {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
}
#wrap .login .ssoLogin a img {
  width: 100%;
  height: auto;
}
#wrap .alert_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3333333333);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
#wrap .alert_modal .alert_layerPopup {
  max-width: 800px;
  height: auto;
  background-color: #f6f7fa;
  box-sizing: border-box;
  border-radius: 5px;
}
#wrap .alert_modal .alert_layerPopup .alert_popupHead {
  width: 95%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ebec;
  padding: 5px;
  box-sizing: border-box;
}
#wrap .alert_modal .alert_layerPopup .alert_popupHead h3 {
  color: #8492af;
  font-weight: 500;
}
#wrap .alert_modal .alert_layerPopup .alert_popupHead i {
  color: #f83c7b;
  opacity: 0.8;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
}
#wrap .alert_modal .alert_layerPopup .alert_popupHead i:hover {
  opacity: 1;
}
#wrap .alert_modal .alert_layerPopup .alert_popupBody {
  width: 100%;
  height: auto;
  padding: 10px 50px;
  box-sizing: border-box;
}
#wrap .alert_modal .alert_layerPopup .alert_popupBody .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap .alert_modal .alert_layerPopup .alert_popupBody .box p {
  font-size: 1.2rem;
  font-weight: 300;
  word-break: break-all;
}
#wrap .alert_modal .alert_layerPopup .alert_popupBody .box p small {
  font-size: 1rem;
  word-break: break-all;
  color: #8492af;
}
#wrap .alert_modal .alert_layerPopup .alert_btnBox {
  width: 95%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 0;
}
#wrap .alert_modal .alert_layerPopup .alert_btnBox button {
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
#wrap .alert_modal .alert_layerPopup .alert_btnBox button.point {
  background-color: #5584ff;
}
#wrap .alert_modal .alert_layerPopup .alert_btnBox button.crush {
  background-color: #f83c7b;
}
#wrap .alert_modal .alert_layerPopup .alert_btnBox button.gray {
  background-color: #8492af;
}