@-webkit-keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes shake {
  0% {
    right: 0;
  }
  20% {
    right: 0.3rem;
  }
  45% {
    right: -0.3rem;
  }
  55% {
    right: 0.3rem;
  }
  80% {
    right: -0.3rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes shake {
  0% {
    right: 0;
  }
  20% {
    right: 0.3rem;
  }
  45% {
    right: -0.3rem;
  }
  55% {
    right: 0.3rem;
  }
  80% {
    right: -0.3rem;
  }
  100% {
    right: 0rem;
  }
}
@-webkit-keyframes glow {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes glow {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
  100% {
    filter: brightness(100%);
  }
}
@-webkit-keyframes glow2 {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes glow2 {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}
@-webkit-keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}
@keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}
@-webkit-keyframes alert2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes alert2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes arrowRight {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(50%);
  }
}
@keyframes arrowRight {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(50%);
  }
}
article#summary {
  width: 100%;
  height: 300px;
}
article#summary .title {
  width: 100%;
  padding: 5px 0;
  color: #f6f7fa;
  display: flex;
  justify-content: space-between;
  background-color: #5584ff;
}
article#summary .title .leftTitle {
  padding: 0 10px;
}
article#summary .title .leftTitle p {
  margin: 0;
  font-weight: 500;
}
article#summary .title button.interval {
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
}
article#summary .title button.interval p {
  margin: 0;
  margin-right: 5px;
  font-weight: 500;
}
article#summary .title button.interval i {
  padding: 4px 0;
}
article#summary .content {
  width: 100%;
  height: calc(100% - 34px);
  background-color: #3755a4;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  align-content: center;
  justify-items: center;
}
article#summary .content .apiErr {
  margin: 0 40px;
  grid-column: 11/14;
}
article#summary .content .apiErr i {
  font-size: 7rem;
  color: #5584ff;
  color: #5584ff;
}
article#summary .content .apiErr .triangle {
  display: none;
}
article#summary .content .apiReq {
  margin: 0 40px;
  grid-column: 8/11;
}
article#summary .content .apiReq i {
  font-size: 7rem;
  color: #5584ff;
  -webkit-animation: glow2 infinite 2s linear;
          animation: glow2 infinite 2s linear;
}
article#summary .content h5 {
  text-indent: 0;
  text-align: center;
  color: #ffffff;
}
article#summary .content .apiErr.active {
  position: relative;
}
article#summary .content .apiErr.active i {
  color: #f83c7b;
}
article#summary .content .apiErr.active .triangle {
  display: block;
  position: absolute;
  -webkit-text-stroke: 3px #f83c7b;
  color: transparent;
  font-size: 7rem;
  top: 0;
  left: 0;
  -webkit-animation: alert2 infinite 1s ease-out;
          animation: alert2 infinite 1s ease-out;
}
article#summary .content .apiTimeGap {
  align-self: center;
  grid-column: 2/5;
  margin: 0 20px;
  position: relative;
}
article#summary .content .apiTimeGap p {
  text-align: center;
  margin: 0;
  font-size: 1rem;
  color: #f6f7fa;
}
article#summary .content .arrowAnimation {
  grid-column: 5/7;
  align-self: center;
  width: 70px;
  height: 100px;
  position: relative;
  margin: 0 10px;
}
article#summary .content .arrowAnimation i {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: #5584ff;
}
article#summary .content .arrowAnimation i:nth-child(1) {
  left: -30%;
  -webkit-animation: arrowRight 1.5s infinite 0s ease;
          animation: arrowRight 1.5s infinite 0s ease;
}
article#summary .content .arrowAnimation i:nth-child(2) {
  left: 10%;
  -webkit-animation: arrowRight 1.5s infinite 0.15875s ease;
          animation: arrowRight 1.5s infinite 0.15875s ease;
}
article#summary .content .arrowAnimation i:nth-child(3) {
  left: 50%;
  -webkit-animation: arrowRight 1.5s infinite 0.375s ease;
          animation: arrowRight 1.5s infinite 0.375s ease;
}
article#summary .content .checkAPIBox {
  align-self: center;
  grid-column: 15/19;
}
article#summary .content .checkAPIBox p {
  margin: 0;
  color: #f6f7fa;
}
article#summary .content .checkAPIBox button#apiAllCheckBtn {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin: 5px auto 0 auto;
}
article#apiStatus .flexBox {
  display: flex;
}
article#apiStatus .flexBox .leftBox {
  flex: 6;
  margin-right: 1%;
}
article#apiStatus .flexBox .leftBox .searchOption {
  width: 100%;
}
article#apiStatus .flexBox .leftBox .searchOption .period {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: 1fr, 1fr;
  border-bottom: 1px solid #e9ebec;
  padding-bottom: 0.5rem;
}
article#apiStatus .flexBox .leftBox .searchOption .period b {
  grid-column: 1/6;
  grid-row: 1/3;
  align-self: center;
  min-width: 30px;
}
article#apiStatus .flexBox .leftBox .searchOption .period input[name=dateTimePicker1] {
  grid-column: 6/13;
  grid-row: 1/2;
}
article#apiStatus .flexBox .leftBox .searchOption .period input[name=dateTimePicker2] {
  grid-column: 14/21;
  grid-row: 1/2;
}
article#apiStatus .flexBox .leftBox .searchOption .period span {
  grid-column: 13/14;
  grid-row: 1/2;
  text-align: center;
}
article#apiStatus .flexBox .leftBox .searchOption .period .fastBtns {
  display: flex;
  align-items: center;
  grid-column: 6/21;
  grid-row: 2/3;
}
article#apiStatus .flexBox .leftBox .searchOption .period .fastBtns button {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}
article#apiStatus .flexBox .leftBox .searchOption .optionRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0;
}
article#apiStatus .flexBox .leftBox .searchOption .optionRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article#apiStatus .flexBox .leftBox .searchOption .optionRow .checkBoxRow {
  grid-column: 6/21;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
article#apiStatus .flexBox .leftBox .searchOption .optionRow .checkBoxRow .checkBoxDiv {
  display: flex;
  align-items: center;
}
article#apiStatus .flexBox .leftBox .searchOption .optionRow .checkBoxRow .checkBoxDiv label {
  transform: scale(0.8);
}
article#apiStatus .flexBox .leftBox .searchOption .textInputRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article#apiStatus .flexBox .leftBox .searchOption .textInputRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article#apiStatus .flexBox .leftBox .searchOption .textInputRow input {
  grid-column: 6/17;
}
article#apiStatus .flexBox .leftBox .searchOption .textInputRow button {
  grid-column: 17/21;
}
article#apiStatus .flexBox .leftBox .searchOption .searchRow {
  width: 100%;
}
article#apiStatus .flexBox .leftBox .searchOption .searchRow button {
  width: 100%;
  display: block;
}
article#apiStatus .flexBox .leftBox .tableTopDiv {
  padding: 0.5rem 0 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .sortDiv {
  display: flex;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .sortDiv button {
  padding: 0.5rem;
  border: 1px solid rgba(132, 146, 175, 0.35);
  border-bottom: none;
}
article#apiStatus .flexBox .leftBox .tableTopDiv p {
  font-size: 0.8rem;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 2rem;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transform: translateY(-50%);
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox p {
  font-size: 0.8rem;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox.normal::before {
  background-color: #5584ff;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox.normal p {
  color: #5584ff;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox.caution::before {
  background-color: #ffa600;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox.caution p {
  color: #ffa600;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox.error::before {
  background-color: #f83c7b;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox.error p {
  color: #f83c7b;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox.unknown::before {
  background-color: #ffffff;
  border: 1px solid #8492af;
}
article#apiStatus .flexBox .leftBox .tableTopDiv .detailCount .countBox.unknown p {
  color: #8492af;
}
article#apiStatus .flexBox .leftBox .tableBox {
  max-height: 70vh;
}
article#apiStatus .flexBox .leftBox .tableBox thead tr th:nth-child(3) {
  width: 6rem;
}
article#apiStatus .flexBox .leftBox .tableBox thead tr th:nth-child(4) {
  width: 4rem;
}
article#apiStatus .flexBox .leftBox .tableBox thead tr th:nth-child(5) {
  width: 6rem;
}
article#apiStatus .flexBox .leftBox .tableBox tbody tr {
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(85, 132, 255, 0.3);
}
article#apiStatus .flexBox .leftBox .tableBox tbody tr.unknown {
  background-color: #ffffff;
}
article#apiStatus .flexBox .rightBox {
  flex: 4;
}
article#apiStatus .flexBox .rightBox .log {
  max-height: calc(70vh + 6rem);
}
article#apiStatus .flexBox .rightBox .log table tbody tr {
  background-color: #333b44;
  color: #f6f7fa;
}
article#apiStatus .flexBox .rightBox .log table tbody tr.ok b, article#apiStatus .flexBox .rightBox .log table tbody tr.ok i {
  color: #197fff;
}
article#apiStatus .flexBox .rightBox .log table tbody tr.error b, article#apiStatus .flexBox .rightBox .log table tbody tr.error i {
  color: #eb606b;
}
article#apiStatus .flexBox .rightBox .log table tbody tr.warning b, article#apiStatus .flexBox .rightBox .log table tbody tr.warning i {
  color: #fac863;
}
article#apiStatus .flexBox .rightBox .log table tbody tr.unknown b, article#apiStatus .flexBox .rightBox .log table tbody tr.unknown i {
  color: #bb80b3;
}
article#apiStatus .flexBox .rightBox .log table tbody tr td {
  border-bottom: none;
}