article .flexBox {
  display: flex;
}
article .flexBox .leftBox {
  flex: 3;
  margin-right: 1%;
  border: 1px solid #e9ebec;
}
article .flexBox .leftBox .listWrapper {
  width: 100%;
}
article .flexBox .leftBox .listWrapper .viewOption {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article .flexBox .leftBox .listWrapper .viewOption .checkBoxDiv {
  transform: scale(0.8);
  margin-left: 1rem;
}
article .flexBox .leftBox .listWrapper .listTopDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.2rem 0;
}
article .flexBox .leftBox .listWrapper .listTopDiv p {
  font-size: 0.8rem;
  text-align: right;
}
article .flexBox .leftBox .listWrapper .listTopDiv button {
  font-size: 0.8rem;
}
article .flexBox .leftBox .listWrapper .listDiv {
  border: 1px solid #e9ebec;
  max-height: 60vh;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated {
  display: none;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated.show {
  display: block;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title {
  position: relative;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title i {
  color: rgba(132, 146, 175, 0.7);
}
article .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title p {
  color: rgba(132, 146, 175, 0.7);
}
article .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  border-bottom: 1px solid #e9ebec;
  transition: all 0.2s;
  cursor: pointer;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title i {
  flex: 2;
  color: #8492af;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 0;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title p {
  flex: 8;
  font-weight: bold;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul {
  margin-left: 20%;
  margin-bottom: 0.5rem;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li::before {
  content: "";
  width: 3px;
  height: 80%;
  display: block;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translate(0, -50%);
  background-color: #5584ff;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li i {
  flex: 2;
  color: #8492af;
  text-align: center;
  padding: 0.3rem 0;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li p {
  flex: 8;
  text-indent: 1rem;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated {
  display: none;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated.show {
  display: flex;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated i {
  color: rgba(132, 146, 175, 0.7);
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated p {
  color: rgba(132, 146, 175, 0.7);
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.sortable-selected {
  outline: 1px solid #f83c7b;
}
article .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.sortable-ghost {
  background-color: rgba(248, 60, 123, 0.3);
}
article .flexBox .leftBox .listWrapper.sortable .depth1 .depth1Title i {
  cursor: -webkit-grab;
  cursor: grab;
}
article .flexBox .leftBox .listWrapper.sortable .depth1 ul li i {
  cursor: -webkit-grab;
  cursor: grab;
}
article .flexBox .rightBox {
  flex: 7;
  border: 1px solid #e9ebec;
}
article .flexBox .rightBox table tbody tr th {
  width: 10rem;
}
article .flexBox .rightBox table tbody tr td input {
  width: 90%;
}
article .flexBox .rightBox .bottomDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
article .flexBox .rightBox .bottomDiv button {
  margin: 0 0.1rem;
}
article#apiAuth .flexBox .rightBox .infoDiv, article#menuAuth .flexBox .rightBox .infoDiv, article#menuApiAuth .flexBox .rightBox .infoDiv {
  max-height: 60vh;
}
article#apiAuth .flexBox .rightBox .infoDiv table tbody tr th .checkBoxDiv,
article#apiAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv, article#menuAuth .flexBox .rightBox .infoDiv table tbody tr th .checkBoxDiv,
article#menuAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv, article#menuApiAuth .flexBox .rightBox .infoDiv table tbody tr th .checkBoxDiv,
article#menuApiAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv {
  display: flex;
  align-items: center;
}
article#apiAuth .flexBox .rightBox .infoDiv table tbody tr th .checkBoxDiv label,
article#apiAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv label, article#menuAuth .flexBox .rightBox .infoDiv table tbody tr th .checkBoxDiv label,
article#menuAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv label, article#menuApiAuth .flexBox .rightBox .infoDiv table tbody tr th .checkBoxDiv label,
article#menuApiAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv label {
  scale: 0.9;
}
article#apiAuth .flexBox .rightBox .infoDiv table tbody tr th .checkBoxDiv span,
article#apiAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv span, article#menuAuth .flexBox .rightBox .infoDiv table tbody tr th .checkBoxDiv span,
article#menuAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv span, article#menuApiAuth .flexBox .rightBox .infoDiv table tbody tr th .checkBoxDiv span,
article#menuApiAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv span {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
article#apiAuth .flexBox .rightBox .infoDiv table tbody tr th, article#menuAuth .flexBox .rightBox .infoDiv table tbody tr th, article#menuApiAuth .flexBox .rightBox .infoDiv table tbody tr th {
  width: 15rem;
}
article#apiAuth .flexBox .rightBox .infoDiv table tbody tr td, article#menuAuth .flexBox .rightBox .infoDiv table tbody tr td, article#menuApiAuth .flexBox .rightBox .infoDiv table tbody tr td {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
article#apiAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv, article#menuAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv, article#menuApiAuth .flexBox .rightBox .infoDiv table tbody tr td .checkBoxDiv {
  width: 50%;
}

.modal .popupBody table {
  border: 1px solid #e9ebec;
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  font-size: 0.8rem;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
}
.modal .popupBody table tbody {
  background-color: #ffffff;
  color: #111111;
}
.modal .popupBody table tbody tr:nth-child(even) {
  background-color: #f6f7fa;
}
.modal .popupBody table tbody tr th {
  width: 15rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0.2rem;
}
.modal .popupBody table tbody tr td {
  border-bottom: 1px solid #e9ebec;
  padding: 0.2rem;
  position: relative;
}
.modal .popupBody table tbody tr td input {
  width: 100%;
}
.modal .popupBody table tbody tr td .iconList {
  max-width: 500px;
  background-color: #f6f7fa;
  border: 1px solid #5584ff;
  padding: 5px;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}
.modal .popupBody table tbody tr td .iconList i {
  width: 9%;
  margin: 10px 1%;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  font-size: 1.1rem;
  color: #5584ff;
}
.modal .popupBody table tbody tr td .iconList i:hover {
  opacity: 1;
}
.modal .popupBody table tbody tr td .iconList.active {
  display: flex;
}
.modal .popupBody table tbody tr td i {
  font-size: 1.2rem;
  color: #5584ff;
  margin-right: 0.5rem;
}