.tableBottomDiv {
  display: grid;
  grid-template-columns: repeat(20, 5%);
}
.tableBottomDiv .rowInViewDiv {
  grid-column: 1/4;
  display: flex;
  align-items: center;
}
.tableBottomDiv .paging {
  grid-column: 7/21;
  justify-self: end;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
.tableBottomDiv .paging button.btn_style_paging {
  padding: 0.5rem 0.8rem;
  background-color: white;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
  color: #8492af;
  cursor: pointer;
  transition: all 0.2s;
}
.tableBottomDiv .paging button.btn_style_paging i {
  font-size: 1rem;
}
.tableBottomDiv .paging button.btn_style_paging:hover {
  color: #5584ff;
  background-color: #e9ebec;
}
.tableBottomDiv .paging button.btn_style_paging.unActivated {
  color: #e9ebec;
  cursor: default;
  pointer-events: none;
}
.tableBottomDiv .paging button.btn_style_paging.on {
  color: #5584ff;
  font-weight: bold;
  position: relative;
}
.tableBottomDiv .paging button.btn_style_paging.on::after {
  content: "";
  display: block;
  width: 90%;
  bottom: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5584ff;
}

article.userList .flexBox {
  display: flex;
}
article.userList .flexBox .leftBox {
  flex: 3;
  margin-right: 1%;
}
article.userList .flexBox .leftBox .listWrapper {
  width: 100%;
}
article.userList .flexBox .leftBox .listWrapper .viewOption {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article.userList .flexBox .leftBox .listWrapper .viewOption .checkBoxDiv {
  transform: scale(0.8);
  margin-left: 1rem;
}
article.userList .flexBox .leftBox .listWrapper .listTopDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.2rem 0;
}
article.userList .flexBox .leftBox .listWrapper .listTopDiv p {
  font-size: 0.8rem;
  text-align: right;
}
article.userList .flexBox .leftBox .listWrapper .listTopDiv button {
  font-size: 0.8rem;
}
article.userList .flexBox .leftBox .listWrapper .listDiv {
  border: 1px solid #e9ebec;
  max-height: 60vh;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated {
  display: none;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated.show {
  display: block;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title {
  position: relative;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title i {
  color: rgba(132, 146, 175, 0.7);
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title p {
  color: rgba(132, 146, 175, 0.7);
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  border-bottom: 1px solid #e9ebec;
  transition: all 0.2s;
  cursor: pointer;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title i {
  flex: 2;
  color: #8492af;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 0;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title p {
  flex: 8;
  font-weight: bold;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul {
  margin-left: 20%;
  margin-bottom: 0.5rem;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li::before {
  content: "";
  width: 3px;
  height: 80%;
  display: block;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translate(0, -50%);
  background-color: #5584ff;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li i {
  flex: 2;
  color: #8492af;
  text-align: center;
  padding: 0.3rem 0;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li p {
  flex: 8;
  text-indent: 1rem;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated {
  display: none;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated.show {
  display: flex;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated i {
  color: rgba(132, 146, 175, 0.7);
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated p {
  color: rgba(132, 146, 175, 0.7);
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.sortable-selected {
  outline: 1px solid #f83c7b;
}
article.userList .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.sortable-ghost {
  background-color: rgba(248, 60, 123, 0.3);
}
article.userList .flexBox .leftBox .listWrapper.sortable .depth1 .depth1Title i {
  cursor: -webkit-grab;
  cursor: grab;
}
article.userList .flexBox .leftBox .listWrapper.sortable .depth1 ul li i {
  cursor: -webkit-grab;
  cursor: grab;
}
article.userList .flexBox .leftBox .searchOption {
  width: 100%;
}
article.userList .flexBox .leftBox .searchOption .period {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: 1fr, 1fr;
  border-bottom: 1px solid #e9ebec;
  padding-bottom: 0.5rem;
}
article.userList .flexBox .leftBox .searchOption .period b {
  grid-column: 1/6;
  grid-row: 1/3;
  align-self: center;
  min-width: 30px;
}
article.userList .flexBox .leftBox .searchOption .period input[name=dateTimePicker1] {
  grid-column: 6/13;
  grid-row: 1/2;
}
article.userList .flexBox .leftBox .searchOption .period input[name=dateTimePicker2] {
  grid-column: 14/21;
  grid-row: 1/2;
}
article.userList .flexBox .leftBox .searchOption .period span {
  grid-column: 13/14;
  grid-row: 1/2;
  text-align: center;
}
article.userList .flexBox .leftBox .searchOption .period .fastBtns {
  display: flex;
  align-items: center;
  grid-column: 6/21;
  grid-row: 2/3;
}
article.userList .flexBox .leftBox .searchOption .period .fastBtns button {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}
article.userList .flexBox .leftBox .searchOption .optionRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0;
}
article.userList .flexBox .leftBox .searchOption .optionRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article.userList .flexBox .leftBox .searchOption .optionRow .checkBoxRow {
  grid-column: 6/21;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
article.userList .flexBox .leftBox .searchOption .optionRow .checkBoxRow .checkBoxDiv {
  display: flex;
  align-items: center;
}
article.userList .flexBox .leftBox .searchOption .optionRow .checkBoxRow .checkBoxDiv label {
  transform: scale(0.8);
}
article.userList .flexBox .leftBox .searchOption .textInputRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article.userList .flexBox .leftBox .searchOption .textInputRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article.userList .flexBox .leftBox .searchOption .textInputRow input {
  grid-column: 6/17;
}
article.userList .flexBox .leftBox .searchOption .textInputRow button {
  grid-column: 17/21;
}
article.userList .flexBox .leftBox .searchOption .searchRow {
  width: 100%;
}
article.userList .flexBox .leftBox .searchOption .searchRow button {
  width: 100%;
  display: block;
}
article.userList .flexBox .leftBox .tableTopDiv {
  padding: 0.5rem 0 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article.userList .flexBox .leftBox .tableTopDiv .sortDiv {
  display: flex;
}
article.userList .flexBox .leftBox .tableTopDiv .sortDiv button {
  padding: 0.5rem;
  border: 1px solid rgba(132, 146, 175, 0.35);
  border-bottom: none;
}
article.userList .flexBox .leftBox .tableTopDiv p {
  font-size: 0.8rem;
}
article.userList .flexBox .rightBox {
  flex: 7;
  border: 1px solid #e9ebec;
}
article.userList .flexBox .rightBox .flexArea {
  display: flex;
}
article.userList .flexBox .rightBox .flexArea .userArea .tableDiv table tbody tr th,
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableDiv table tbody tr th {
  width: 10rem;
}
article.userList .flexBox .rightBox .flexArea .userArea .tableDiv table tbody tr td input[type=text],
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableDiv table tbody tr td input[type=text] {
  width: 100%;
}
article.userList .flexBox .rightBox .flexArea .userArea .tableDiv table tbody tr td input[name=use_start_ts_date],
article.userList .flexBox .rightBox .flexArea .userArea .tableDiv table tbody tr td input[name=use_start_ts_time],
article.userList .flexBox .rightBox .flexArea .userArea .tableDiv table tbody tr td input[name=use_end_ts_date],
article.userList .flexBox .rightBox .flexArea .userArea .tableDiv table tbody tr td input[name=use_end_ts_time],
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableDiv table tbody tr td input[name=use_start_ts_date],
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableDiv table tbody tr td input[name=use_start_ts_time],
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableDiv table tbody tr td input[name=use_end_ts_date],
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableDiv table tbody tr td input[name=use_end_ts_time] {
  width: 50%;
}
article.userList .flexBox .rightBox .flexArea .userArea .tableDiv table tbody tr td input:-moz-read-only, article.userList .flexBox .rightBox .flexArea .userAccountArea .tableDiv table tbody tr td input:-moz-read-only {
  cursor: default;
  background-color: #e9ebec;
  pointer-events: none;
}
article.userList .flexBox .rightBox .flexArea .userArea .tableDiv table tbody tr td input:read-only,
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableDiv table tbody tr td input:read-only {
  cursor: default;
  background-color: #e9ebec;
  pointer-events: none;
}
article.userList .flexBox .rightBox .flexArea .userArea .tableDiv table tbody tr td .toggleDiv,
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableDiv table tbody tr td .toggleDiv {
  transform: scale(0.8);
}
article.userList .flexBox .rightBox .flexArea .userArea .tableBottomDiv,
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableBottomDiv {
  display: none;
}
article.userList .flexBox .rightBox .flexArea .userArea .tableBottomDiv.active,
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableBottomDiv.active {
  display: flex;
  justify-content: flex-end;
}
article.userList .flexBox .rightBox .flexArea .userArea .tableBottomDiv.active button,
article.userList .flexBox .rightBox .flexArea .userAccountArea .tableBottomDiv.active button {
  margin: 0 0.2rem;
}
article#token_ip {
  display: none;
}
article#token_ip .flexBox {
  display: flex;
  justify-content: space-between;
}
article#token_ip .flexBox .leftBox {
  flex: 1;
  margin-right: 1%;
}
article#token_ip .flexBox .leftBox .searchOption {
  width: 100%;
}
article#token_ip .flexBox .leftBox .searchOption .period {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: 1fr, 1fr;
  border-bottom: 1px solid #e9ebec;
  padding-bottom: 0.5rem;
}
article#token_ip .flexBox .leftBox .searchOption .period b {
  grid-column: 1/6;
  grid-row: 1/3;
  align-self: center;
  min-width: 30px;
}
article#token_ip .flexBox .leftBox .searchOption .period input[name=dateTimePicker1] {
  grid-column: 6/13;
  grid-row: 1/2;
}
article#token_ip .flexBox .leftBox .searchOption .period input[name=dateTimePicker2] {
  grid-column: 14/21;
  grid-row: 1/2;
}
article#token_ip .flexBox .leftBox .searchOption .period span {
  grid-column: 13/14;
  grid-row: 1/2;
  text-align: center;
}
article#token_ip .flexBox .leftBox .searchOption .period .fastBtns {
  display: flex;
  align-items: center;
  grid-column: 6/21;
  grid-row: 2/3;
}
article#token_ip .flexBox .leftBox .searchOption .period .fastBtns button {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}
article#token_ip .flexBox .leftBox .searchOption .optionRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0;
}
article#token_ip .flexBox .leftBox .searchOption .optionRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article#token_ip .flexBox .leftBox .searchOption .optionRow .checkBoxRow {
  grid-column: 6/21;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
article#token_ip .flexBox .leftBox .searchOption .optionRow .checkBoxRow .checkBoxDiv {
  display: flex;
  align-items: center;
}
article#token_ip .flexBox .leftBox .searchOption .optionRow .checkBoxRow .checkBoxDiv label {
  transform: scale(0.8);
}
article#token_ip .flexBox .leftBox .searchOption .textInputRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article#token_ip .flexBox .leftBox .searchOption .textInputRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article#token_ip .flexBox .leftBox .searchOption .textInputRow input {
  grid-column: 6/17;
}
article#token_ip .flexBox .leftBox .searchOption .textInputRow button {
  grid-column: 17/21;
}
article#token_ip .flexBox .leftBox .searchOption .searchRow {
  width: 100%;
}
article#token_ip .flexBox .leftBox .searchOption .searchRow button {
  width: 100%;
  display: block;
}
article#token_ip .flexBox .leftBox .tableTopDiv {
  padding: 0.5rem 0 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article#token_ip .flexBox .leftBox .tableTopDiv .sortDiv {
  display: flex;
}
article#token_ip .flexBox .leftBox .tableTopDiv .sortDiv button {
  padding: 0.5rem;
  border: 1px solid rgba(132, 146, 175, 0.35);
  border-bottom: none;
}
article#token_ip .flexBox .leftBox .tableTopDiv p {
  font-size: 0.8rem;
}
article#token_ip .flexBox .leftBox .searchOption .optionRow b {
  grid-column: 1/7;
}
article#token_ip .flexBox .leftBox .searchOption .optionRow .checkBoxRow {
  grid-column: 8/21;
}
article#token_ip .flexBox .leftBox .tableTopDiv {
  align-items: flex-end;
}
article#token_ip .flexBox .leftBox .tableTopDiv .buttonsDiv {
  display: flex;
  align-items: center;
}
article#token_ip .flexBox .leftBox .tableTopDiv .buttonsDiv button {
  margin-right: 0.2rem;
}
article#token_ip .flexBox .leftBox .tableBox {
  height: 40vh;
}
article#token_ip .flexBox .leftBox .tableBox table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
article#token_ip .flexBox .leftBox .tableBox table thead tr th:nth-child(1) {
  width: 45%;
}
article#token_ip .flexBox .leftBox .tableBox table tbody tr {
  cursor: pointer;
  transition: all 0.2s;
}
article#token_ip .flexBox .leftBox .tableBox table tbody tr:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article#token_ip .flexBox .leftBox .tableBox table tbody tr.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article#token_ip .flexBox .rightBox {
  flex: 1;
}
article#token_ip .flexBox .rightBox .searchOption {
  width: 100%;
}
article#token_ip .flexBox .rightBox .searchOption .period {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: 1fr, 1fr;
  border-bottom: 1px solid #e9ebec;
  padding-bottom: 0.5rem;
}
article#token_ip .flexBox .rightBox .searchOption .period b {
  grid-column: 1/6;
  grid-row: 1/3;
  align-self: center;
  min-width: 30px;
}
article#token_ip .flexBox .rightBox .searchOption .period input[name=dateTimePicker1] {
  grid-column: 6/13;
  grid-row: 1/2;
}
article#token_ip .flexBox .rightBox .searchOption .period input[name=dateTimePicker2] {
  grid-column: 14/21;
  grid-row: 1/2;
}
article#token_ip .flexBox .rightBox .searchOption .period span {
  grid-column: 13/14;
  grid-row: 1/2;
  text-align: center;
}
article#token_ip .flexBox .rightBox .searchOption .period .fastBtns {
  display: flex;
  align-items: center;
  grid-column: 6/21;
  grid-row: 2/3;
}
article#token_ip .flexBox .rightBox .searchOption .period .fastBtns button {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}
article#token_ip .flexBox .rightBox .searchOption .optionRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0;
}
article#token_ip .flexBox .rightBox .searchOption .optionRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article#token_ip .flexBox .rightBox .searchOption .optionRow .checkBoxRow {
  grid-column: 6/21;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
article#token_ip .flexBox .rightBox .searchOption .optionRow .checkBoxRow .checkBoxDiv {
  display: flex;
  align-items: center;
}
article#token_ip .flexBox .rightBox .searchOption .optionRow .checkBoxRow .checkBoxDiv label {
  transform: scale(0.8);
}
article#token_ip .flexBox .rightBox .searchOption .textInputRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article#token_ip .flexBox .rightBox .searchOption .textInputRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article#token_ip .flexBox .rightBox .searchOption .textInputRow input {
  grid-column: 6/17;
}
article#token_ip .flexBox .rightBox .searchOption .textInputRow button {
  grid-column: 17/21;
}
article#token_ip .flexBox .rightBox .searchOption .searchRow {
  width: 100%;
}
article#token_ip .flexBox .rightBox .searchOption .searchRow button {
  width: 100%;
  display: block;
}
article#token_ip .flexBox .rightBox .tableTopDiv {
  padding: 0.5rem 0 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article#token_ip .flexBox .rightBox .tableTopDiv .sortDiv {
  display: flex;
}
article#token_ip .flexBox .rightBox .tableTopDiv .sortDiv button {
  padding: 0.5rem;
  border: 1px solid rgba(132, 146, 175, 0.35);
  border-bottom: none;
}
article#token_ip .flexBox .rightBox .tableTopDiv p {
  font-size: 0.8rem;
}

.modal .popupBody .typeDiv {
  display: flex;
}
.modal .popupBody .typeDiv button {
  padding: 0.5rem;
  border: 1px solid rgba(132, 146, 175, 0.35);
  border-bottom: none;
}
.modal .popupBody .typeDiv button.selected {
  background-color: rgba(85, 132, 255, 0.3);
  outline: 2px solid #5584ff;
}
.modal .popupBody table {
  border: 1px solid #e9ebec;
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  font-size: 0.8rem;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
}
.modal .popupBody table tbody {
  background-color: #ffffff;
  color: #111111;
}
.modal .popupBody table tbody tr:nth-child(even) {
  background-color: #f6f7fa;
}
.modal .popupBody table tbody tr th {
  width: 15rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0.2rem;
}
.modal .popupBody table tbody tr td {
  border-bottom: 1px solid #e9ebec;
  padding: 0.2rem;
}
.modal .popupBody table tbody tr td input {
  width: 100%;
}
.modal .popupBody table tbody tr td input[name=use_start_ts_date],
.modal .popupBody table tbody tr td input[name=use_start_ts_time],
.modal .popupBody table tbody tr td input[name=use_end_ts_date],
.modal .popupBody table tbody tr td input[name=use_end_ts_time] {
  width: 50%;
}