article.menuStructure .flexBox {
  display: flex;
}
article.menuStructure .flexBox .leftBox {
  flex: 3;
  margin-right: 1%;
}
article.menuStructure .flexBox .leftBox .listWrapper {
  width: 100%;
}
article.menuStructure .flexBox .leftBox .listWrapper .viewOption {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article.menuStructure .flexBox .leftBox .listWrapper .viewOption .checkBoxDiv {
  transform: scale(0.8);
  margin-left: 1rem;
}
article.menuStructure .flexBox .leftBox .listWrapper .listTopDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.2rem 0;
}
article.menuStructure .flexBox .leftBox .listWrapper .listTopDiv p {
  font-size: 0.8rem;
  text-align: right;
}
article.menuStructure .flexBox .leftBox .listWrapper .listTopDiv button {
  font-size: 0.8rem;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv {
  border: 1px solid #e9ebec;
  max-height: 60vh;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated {
  display: none;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated.show {
  display: block;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title {
  position: relative;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title i {
  color: rgba(132, 146, 175, 0.7);
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title p {
  color: rgba(132, 146, 175, 0.7);
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  border-bottom: 1px solid #e9ebec;
  transition: all 0.2s;
  cursor: pointer;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title i {
  flex: 2;
  color: #8492af;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 0;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title p {
  flex: 8;
  font-weight: bold;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul {
  margin-left: 20%;
  margin-bottom: 0.5rem;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li::before {
  content: "";
  width: 3px;
  height: 80%;
  display: block;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translate(0, -50%);
  background-color: #5584ff;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li i {
  flex: 2;
  color: #8492af;
  text-align: center;
  padding: 0.3rem 0;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li p {
  flex: 8;
  text-indent: 1rem;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated {
  display: none;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated.show {
  display: flex;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated i {
  color: rgba(132, 146, 175, 0.7);
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated p {
  color: rgba(132, 146, 175, 0.7);
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.sortable-selected {
  outline: 1px solid #f83c7b;
}
article.menuStructure .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.sortable-ghost {
  background-color: rgba(248, 60, 123, 0.3);
}
article.menuStructure .flexBox .leftBox .listWrapper.sortable .depth1 .depth1Title i {
  cursor: -webkit-grab;
  cursor: grab;
}
article.menuStructure .flexBox .leftBox .listWrapper.sortable .depth1 ul li i {
  cursor: -webkit-grab;
  cursor: grab;
}
article.menuStructure .flexBox .leftBox .flex {
  display: flex;
}
article.menuStructure .flexBox .leftBox .flex button {
  margin-right: 0.2rem;
}
article.menuStructure .flexBox .rightBox {
  flex: 7;
  border: 1px solid #e9ebec;
}
article.menuStructure .flexBox .rightBox .flexArea {
  display: flex;
  height: 100%;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea {
  border-right: 1px solid #e9ebec;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea h4,
article.menuStructure .flexBox .rightBox .flexArea .menuArea h4 {
  text-indent: 0;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv {
  height: 60vh;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr th,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr th {
  width: 10rem;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr td,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr td {
  position: relative;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr td input[type=text],
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr td input[type=text] {
  width: 100%;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr td input:-moz-read-only, article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr td input:-moz-read-only {
  cursor: default;
  background-color: #e9ebec;
  pointer-events: none;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr td input:read-only,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr td input:read-only {
  cursor: default;
  background-color: #e9ebec;
  pointer-events: none;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr td .toggleDiv,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr td .toggleDiv {
  transform: scale(0.8);
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr td .iconList,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr td .iconList {
  max-width: 250px;
  background-color: #f6f7fa;
  border: 1px solid #5584ff;
  padding: 5px;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr td .iconList i,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr td .iconList i {
  width: 18%;
  margin: 10px 1%;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  font-size: 1.1rem;
  color: #5584ff;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr td .iconList i:hover,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr td .iconList i:hover {
  opacity: 1;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr td .iconList.active,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr td .iconList.active {
  display: flex;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableDiv table tbody tr td i,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableDiv table tbody tr td i {
  font-size: 1.2rem;
  color: #5584ff;
  margin-right: 0.5rem;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableBottomDiv,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableBottomDiv {
  display: none;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableBottomDiv.active,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableBottomDiv.active {
  display: flex;
  justify-content: flex-end;
}
article.menuStructure .flexBox .rightBox .flexArea .menuGroupArea .tableBottomDiv.active button,
article.menuStructure .flexBox .rightBox .flexArea .menuArea .tableBottomDiv.active button {
  margin: 0 0.2rem;
}

.modal .popupBody {
  height: 50vh;
}
.modal .popupBody .typeDiv {
  display: flex;
}
.modal .popupBody .typeDiv button {
  padding: 0.5rem;
  border: 1px solid rgba(132, 146, 175, 0.35);
  border-bottom: none;
}
.modal .popupBody .typeDiv button.selected {
  background-color: rgba(85, 132, 255, 0.3);
  outline: 2px solid #5584ff;
}
.modal .popupBody table {
  border: 1px solid #e9ebec;
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  font-size: 0.8rem;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
}
.modal .popupBody table tbody {
  background-color: #ffffff;
  color: #111111;
}
.modal .popupBody table tbody tr:nth-child(even) {
  background-color: #f6f7fa;
}
.modal .popupBody table tbody tr th {
  width: 15rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0.2rem;
}
.modal .popupBody table tbody tr td {
  border-bottom: 1px solid #e9ebec;
  padding: 0.2rem;
  position: relative;
}
.modal .popupBody table tbody tr td input {
  width: 100%;
}
.modal .popupBody table tbody tr td .iconList {
  max-width: 500px;
  background-color: #f6f7fa;
  border: 1px solid #5584ff;
  padding: 5px;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}
.modal .popupBody table tbody tr td .iconList i {
  width: 9%;
  margin: 10px 1%;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  font-size: 1.1rem;
  color: #5584ff;
}
.modal .popupBody table tbody tr td .iconList i:hover {
  opacity: 1;
}
.modal .popupBody table tbody tr td .iconList.active {
  display: flex;
}
.modal .popupBody table tbody tr td i {
  font-size: 1.2rem;
  color: #5584ff;
  margin-right: 0.5rem;
}