.tableBottomDiv {
  display: grid;
  grid-template-columns: repeat(20, 5%);
}
.tableBottomDiv .rowInViewDiv {
  grid-column: 1/4;
  display: flex;
  align-items: center;
}
.tableBottomDiv .paging {
  grid-column: 7/21;
  justify-self: end;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
.tableBottomDiv .paging button.btn_style_paging {
  padding: 0.5rem 0.8rem;
  background-color: white;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
  color: #8492af;
  cursor: pointer;
  transition: all 0.2s;
}
.tableBottomDiv .paging button.btn_style_paging i {
  font-size: 1rem;
}
.tableBottomDiv .paging button.btn_style_paging:hover {
  color: #5584ff;
  background-color: #e9ebec;
}
.tableBottomDiv .paging button.btn_style_paging.unActivated {
  color: #e9ebec;
  cursor: default;
  pointer-events: none;
}
.tableBottomDiv .paging button.btn_style_paging.on {
  color: #5584ff;
  font-weight: bold;
  position: relative;
}
.tableBottomDiv .paging button.btn_style_paging.on::after {
  content: "";
  display: block;
  width: 90%;
  bottom: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5584ff;
}

article#apiList .flexBox {
  display: flex;
  justify-content: space-between;
}
article#apiList .flexBox .leftBox {
  width: 60%;
}
article#apiList .flexBox .leftBox .searchOption {
  width: 100%;
}
article#apiList .flexBox .leftBox .searchOption .period {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: 1fr, 1fr;
  border-bottom: 1px solid #e9ebec;
  padding-bottom: 0.5rem;
}
article#apiList .flexBox .leftBox .searchOption .period b {
  grid-column: 1/6;
  grid-row: 1/3;
  align-self: center;
  min-width: 30px;
}
article#apiList .flexBox .leftBox .searchOption .period input[name=dateTimePicker1] {
  grid-column: 6/13;
  grid-row: 1/2;
}
article#apiList .flexBox .leftBox .searchOption .period input[name=dateTimePicker2] {
  grid-column: 14/21;
  grid-row: 1/2;
}
article#apiList .flexBox .leftBox .searchOption .period span {
  grid-column: 13/14;
  grid-row: 1/2;
  text-align: center;
}
article#apiList .flexBox .leftBox .searchOption .period .fastBtns {
  display: flex;
  align-items: center;
  grid-column: 6/21;
  grid-row: 2/3;
}
article#apiList .flexBox .leftBox .searchOption .period .fastBtns button {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}
article#apiList .flexBox .leftBox .searchOption .optionRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0;
}
article#apiList .flexBox .leftBox .searchOption .optionRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article#apiList .flexBox .leftBox .searchOption .optionRow .checkBoxRow {
  grid-column: 6/21;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
article#apiList .flexBox .leftBox .searchOption .optionRow .checkBoxRow .checkBoxDiv {
  display: flex;
  align-items: center;
}
article#apiList .flexBox .leftBox .searchOption .optionRow .checkBoxRow .checkBoxDiv label {
  transform: scale(0.8);
}
article#apiList .flexBox .leftBox .searchOption .textInputRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article#apiList .flexBox .leftBox .searchOption .textInputRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article#apiList .flexBox .leftBox .searchOption .textInputRow input {
  grid-column: 6/17;
}
article#apiList .flexBox .leftBox .searchOption .textInputRow button {
  grid-column: 17/21;
}
article#apiList .flexBox .leftBox .searchOption .searchRow {
  width: 100%;
}
article#apiList .flexBox .leftBox .searchOption .searchRow button {
  width: 100%;
  display: block;
}
article#apiList .flexBox .leftBox .tableTopDiv {
  padding: 0.5rem 0 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article#apiList .flexBox .leftBox .tableTopDiv .sortDiv {
  display: flex;
}
article#apiList .flexBox .leftBox .tableTopDiv .sortDiv button {
  padding: 0.5rem;
  border: 1px solid rgba(132, 146, 175, 0.35);
  border-bottom: none;
}
article#apiList .flexBox .leftBox .tableTopDiv p {
  font-size: 0.8rem;
}
article#apiList .flexBox .leftBox .tableTopDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
article#apiList .flexBox .leftBox .tableTopDiv p {
  font-size: 0.8rem;
}
article#apiList .flexBox .leftBox .tableTopDiv button {
  font-size: 0.8rem;
}
article#apiList .flexBox .leftBox .tableDiv {
  max-height: 50vh;
  position: relative;
}
article#apiList .flexBox .leftBox .tableDiv table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
article#apiList .flexBox .leftBox .tableDiv table thead th:first-child, article#apiList .flexBox .leftBox .tableDiv table thead th:last-child {
  width: 4rem;
}
article#apiList .flexBox .leftBox .tableDiv table tbody tr {
  cursor: pointer;
  transition: all 0.2s;
}
article#apiList .flexBox .leftBox .tableDiv table tbody tr:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article#apiList .flexBox .leftBox .tableDiv table tbody tr.unActivated {
  background-color: rgba(248, 60, 123, 0.2);
}
article#apiList .flexBox .leftBox .tableDiv table tbody tr td:last-child {
  text-align: center;
}
article#apiList .flexBox .rightBox {
  width: 39%;
  border: 1px solid #e9ebec;
}
article#apiList .flexBox .rightBox h4 {
  text-indent: 0;
}
article#apiList .flexBox .rightBox .tableDiv table tbody tr th {
  width: 10rem;
}
article#apiList .flexBox .rightBox .tableDiv table tbody tr td input[type=text] {
  width: 100%;
}
article#apiList .flexBox .rightBox .tableDiv table tbody tr td .toggleDiv {
  transform: scale(0.8);
}
article#apiList .flexBox .rightBox .tableBottomDiv {
  display: flex;
  justify-content: flex-end;
}
article#apiList .flexBox .rightBox .tableBottomDiv button {
  margin: 0 0.2rem;
}
article#apiTest .flexBox {
  display: flex;
}
article#apiTest .flexBox .leftBox {
  flex: 3;
  margin-right: 1%;
}
article#apiTest .flexBox .leftBox .listWrapper {
  width: 100%;
}
article#apiTest .flexBox .leftBox .listWrapper .viewOption {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article#apiTest .flexBox .leftBox .listWrapper .viewOption .checkBoxDiv {
  transform: scale(0.8);
  margin-left: 1rem;
}
article#apiTest .flexBox .leftBox .listWrapper .listTopDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.2rem 0;
}
article#apiTest .flexBox .leftBox .listWrapper .listTopDiv p {
  font-size: 0.8rem;
  text-align: right;
}
article#apiTest .flexBox .leftBox .listWrapper .listTopDiv button {
  font-size: 0.8rem;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv {
  border: 1px solid #e9ebec;
  max-height: 60vh;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated {
  display: none;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated.show {
  display: block;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title {
  position: relative;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title i {
  color: rgba(132, 146, 175, 0.7);
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title p {
  color: rgba(132, 146, 175, 0.7);
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1.unActivated .depth1Title::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  border-bottom: 1px solid #e9ebec;
  transition: all 0.2s;
  cursor: pointer;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title i {
  flex: 2;
  color: #8492af;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 0;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 .depth1Title p {
  flex: 8;
  font-weight: bold;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul {
  margin-left: 20%;
  margin-bottom: 0.5rem;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li::before {
  content: "";
  width: 3px;
  height: 80%;
  display: block;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translate(0, -50%);
  background-color: #5584ff;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li i {
  flex: 2;
  color: #8492af;
  text-align: center;
  padding: 0.3rem 0;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li p {
  flex: 8;
  text-indent: 1rem;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated {
  display: none;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated.show {
  display: flex;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated i {
  color: rgba(132, 146, 175, 0.7);
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated p {
  color: rgba(132, 146, 175, 0.7);
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.unActivated::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.sortable-selected {
  outline: 1px solid #f83c7b;
}
article#apiTest .flexBox .leftBox .listWrapper .listDiv .depth1 ul li.sortable-ghost {
  background-color: rgba(248, 60, 123, 0.3);
}
article#apiTest .flexBox .leftBox .listWrapper.sortable .depth1 .depth1Title i {
  cursor: -webkit-grab;
  cursor: grab;
}
article#apiTest .flexBox .leftBox .listWrapper.sortable .depth1 ul li i {
  cursor: -webkit-grab;
  cursor: grab;
}
article#apiTest .flexBox .leftBox .listWrapper .apiListDiv {
  max-height: 83vh;
}
article#apiTest .flexBox .leftBox .listWrapper .apiListDiv .depth1Title {
  cursor: default !important;
  pointer-events: none;
}
article#apiTest .flexBox .leftBox .listWrapper .apiListDiv ul li.unUsed p {
  position: relative;
  color: #8492af;
}
article#apiTest .flexBox .leftBox .listWrapper .apiListDiv ul li.unUsed p::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article#apiTest .flexBox .leftBox .listWrapper .apiListDiv ul li[data-method=GET]::after {
  content: "GET";
  position: absolute;
  top: 50%;
  left: -2.5rem;
  display: block;
  color: #b455ff;
  font-size: 0.8rem;
  transform: translate(0, -50%);
}
article#apiTest .flexBox .leftBox .listWrapper .apiListDiv ul li[data-method=POST]::after {
  content: "POST";
  position: absolute;
  top: 50%;
  left: -2.5rem;
  display: block;
  color: #5584ff;
  font-size: 0.8rem;
  transform: translate(0, -50%);
}
article#apiTest .flexBox .leftBox .listWrapper .apiListDiv ul li[data-method=PUT]::after {
  content: "PUT";
  position: absolute;
  top: 50%;
  left: -2.5rem;
  display: block;
  color: #b455ff;
  font-size: 0.8rem;
  transform: translate(0, -50%);
}
article#apiTest .flexBox .leftBox .listWrapper .apiListDiv ul li[data-method=DELETE]::after {
  content: "DEL";
  position: absolute;
  top: 50%;
  left: -2.5rem;
  display: block;
  color: #f83c7b;
  font-size: 0.8rem;
  transform: translate(0, -50%);
}
article#apiTest .flexBox .rightBox {
  flex: 7;
}
article#apiTest .flexBox .rightBox .method {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #e9ebec;
  border-radius: 4px;
  overflow: hidden;
}
article#apiTest .flexBox .rightBox .method select {
  border: none;
  border-right: 1px solid #8492af;
  padding: 0.5rem;
  background: transparent;
  color: #0e1a35;
}
article#apiTest .flexBox .rightBox .method input {
  width: 100%;
  border: none;
  background: transparent;
  margin: 0 10px;
  text-indent: 5px;
  font-weight: 300;
  letter-spacing: 1px;
}
article#apiTest .flexBox .rightBox .method button {
  border: none;
  background: #5584ff;
  color: #fff;
  padding: 0 1rem;
  cursor: pointer;
  font-size: 1rem;
}
article#apiTest .flexBox .rightBox .method button:hover {
  filter: brightness(0.8);
}
article#apiTest .flexBox .rightBox ul.tagBox {
  display: flex;
  padding: 5px 0;
  margin-top: 0.5rem;
  border-bottom: 1px solid #5584ff;
}
article#apiTest .flexBox .rightBox ul.tagBox li {
  margin: 0 10px;
  cursor: pointer;
  color: #8492af;
  font-weight: 300;
}
article#apiTest .flexBox .rightBox ul.tagBox li.active {
  color: #5584ff;
}
article#apiTest .flexBox .rightBox ul.apiInputBox {
  width: 100%;
  margin: 10px 0;
  min-height: 20vh;
  max-height: 40vh;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li {
  width: 100%;
  display: none;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li button#newTd {
  margin-left: 10px;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li .bodyType {
  margin: 10px 0;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li .bodyType .radioDiv {
  display: flex;
  align-items: center;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li .bodyType .radioDiv label {
  transform: scale(0.7);
  margin: 0;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li .bodyType .radioDiv p {
  font-size: 0.8rem;
  margin: 0;
  margin-right: 10px;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li button.hiddenHeader {
  border: none;
  background: none;
  cursor: pointer;
  color: #8492af;
  opacity: 0.7;
  padding: 3.5px 0;
  display: block;
  margin: 10px 0 10px 10px;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li button.hiddenHeader:hover {
  opacity: 1;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li #bodyEditor {
  width: 99%;
  height: auto;
  display: none;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li.active {
  display: block;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table {
  margin-top: 10px;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table thead {
  background: none;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table thead tr td {
  color: #8492af;
  font-size: 1rem;
  border: 1px solid #e8e8e8;
  background-color: #e9ebec;
  padding: 0.4rem 0;
  text-indent: 0.5rem;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table thead tr td:last-child {
  width: 40px;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody {
  text-indent: 0;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody tr td {
  padding: 0;
  color: #8492af;
  font-size: 1rem;
  border: 1px solid #e9ebec;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody tr td input {
  width: 100%;
  padding: 5px 0;
  border: none;
  text-indent: 10px;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody tr td input:focus {
  outline: none;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody tr td input::-moz-placeholder {
  color: #e9ebec;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody tr td input:-ms-input-placeholder {
  color: #e9ebec;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody tr td input::placeholder {
  color: #e9ebec;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody tr td:last-child {
  width: 40px;
  text-align: center;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody tr td:last-child i {
  color: #f83c7b;
  opacity: 0.7;
  cursor: pointer;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody tr td:last-child i:hover {
  opacity: 1;
}
article#apiTest .flexBox .rightBox ul.apiInputBox table tbody tr:first-child td {
  border-top: none;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li.apiHeader table tbody tr.hidden {
  display: none;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li.apiHeader table tbody tr.hidden td {
  background-color: #e8e8e8;
  color: #8492af;
}
article#apiTest .flexBox .rightBox ul.apiInputBox li.apiHeader table tbody tr.hidden td input {
  background-color: #e8e8e8;
  color: #8492af;
}
article#apiTest .flexBox .rightBox .request {
  border-top: 1px solid #5584ff;
  padding-top: 5px;
}
article#apiTest .flexBox .rightBox .request .requestBox {
  font-weight: 300;
  padding: 10px;
  min-height: 20vh;
  max-height: 40vh;
}
article#apiTest .flexBox .rightBox .request .requestBox pre {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  white-space: pre-wrap;
}
article#apiTest .flexBox .rightBox .response {
  width: 100%;
  border-top: 1px solid #5584ff;
  padding-top: 5px;
}
article#apiTest .flexBox .rightBox .response .responseBox {
  width: 100%;
  font-weight: 300;
  padding: 10px;
  min-height: 20vh;
  max-height: 40vh;
}
article#apiTest .flexBox .rightBox .response .responseBox pre {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  white-space: pre-wrap;
  max-width: 40vw;
}

.modal .popupBody table {
  border: 1px solid #e9ebec;
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  font-size: 0.8rem;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
}
.modal .popupBody table tbody {
  background-color: #ffffff;
  color: #111111;
}
.modal .popupBody table tbody tr:nth-child(even) {
  background-color: #f6f7fa;
}
.modal .popupBody table tbody tr th {
  width: 15rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0.2rem;
}
.modal .popupBody table tbody tr td {
  border-bottom: 1px solid #e9ebec;
  padding: 0.2rem;
  position: relative;
}
.modal .popupBody table tbody tr td input {
  width: 100%;
}