.tableBottomDiv {
  display: grid;
  grid-template-columns: repeat(20, 5%);
}
.tableBottomDiv .rowInViewDiv {
  grid-column: 1/4;
  display: flex;
  align-items: center;
}
.tableBottomDiv .paging {
  grid-column: 7/21;
  justify-self: end;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
.tableBottomDiv .paging button.btn_style_paging {
  padding: 0.5rem 0.8rem;
  background-color: white;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
  color: #8492af;
  cursor: pointer;
  transition: all 0.2s;
}
.tableBottomDiv .paging button.btn_style_paging i {
  font-size: 1rem;
}
.tableBottomDiv .paging button.btn_style_paging:hover {
  color: #5584ff;
  background-color: #e9ebec;
}
.tableBottomDiv .paging button.btn_style_paging.unActivated {
  color: #e9ebec;
  cursor: default;
  pointer-events: none;
}
.tableBottomDiv .paging button.btn_style_paging.on {
  color: #5584ff;
  font-weight: bold;
  position: relative;
}
.tableBottomDiv .paging button.btn_style_paging.on::after {
  content: "";
  display: block;
  width: 90%;
  bottom: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5584ff;
}

article .flexBox {
  display: flex;
}
article .flexBox .leftBox {
  flex: 6;
  margin-right: 1%;
}
article .flexBox .leftBox .searchOption {
  width: 100%;
}
article .flexBox .leftBox .searchOption .period {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: 1fr, 1fr;
  border-bottom: 1px solid #e9ebec;
  padding-bottom: 0.5rem;
}
article .flexBox .leftBox .searchOption .period b {
  grid-column: 1/6;
  grid-row: 1/3;
  align-self: center;
  min-width: 30px;
}
article .flexBox .leftBox .searchOption .period input[name=dateTimePicker1] {
  grid-column: 6/13;
  grid-row: 1/2;
}
article .flexBox .leftBox .searchOption .period input[name=dateTimePicker2] {
  grid-column: 14/21;
  grid-row: 1/2;
}
article .flexBox .leftBox .searchOption .period span {
  grid-column: 13/14;
  grid-row: 1/2;
  text-align: center;
}
article .flexBox .leftBox .searchOption .period .fastBtns {
  display: flex;
  align-items: center;
  grid-column: 6/21;
  grid-row: 2/3;
}
article .flexBox .leftBox .searchOption .period .fastBtns button {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}
article .flexBox .leftBox .searchOption .optionRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0;
}
article .flexBox .leftBox .searchOption .optionRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article .flexBox .leftBox .searchOption .optionRow .checkBoxRow {
  grid-column: 6/21;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
article .flexBox .leftBox .searchOption .optionRow .checkBoxRow .checkBoxDiv {
  display: flex;
  align-items: center;
}
article .flexBox .leftBox .searchOption .optionRow .checkBoxRow .checkBoxDiv label {
  transform: scale(0.8);
}
article .flexBox .leftBox .searchOption .textInputRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article .flexBox .leftBox .searchOption .textInputRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article .flexBox .leftBox .searchOption .textInputRow input {
  grid-column: 6/17;
}
article .flexBox .leftBox .searchOption .textInputRow button {
  grid-column: 17/21;
}
article .flexBox .leftBox .searchOption .searchRow {
  width: 100%;
}
article .flexBox .leftBox .searchOption .searchRow button {
  width: 100%;
  display: block;
}
article .flexBox .leftBox .tableTopDiv {
  padding: 0.5rem 0 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article .flexBox .leftBox .tableTopDiv .sortDiv {
  display: flex;
}
article .flexBox .leftBox .tableTopDiv .sortDiv button {
  padding: 0.5rem;
  border: 1px solid rgba(132, 146, 175, 0.35);
  border-bottom: none;
}
article .flexBox .leftBox .tableTopDiv p {
  font-size: 0.8rem;
}
article .flexBox .leftBox .searchOption .optionRow {
  align-items: center;
}
article .flexBox .leftBox .tableTopDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
article .flexBox .leftBox .tableTopDiv p {
  font-size: 0.8rem;
}
article .flexBox .leftBox .tableTopDiv button {
  font-size: 0.8rem;
}
article .flexBox .leftBox .tableBox {
  height: 60vh;
}
article .flexBox .leftBox .tableBox table {
  border: 1px solid #e9ebec;
}
article .flexBox .leftBox .tableBox table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
article .flexBox .leftBox .tableBox table thead tr th:nth-child(2) {
  width: 5rem;
}
article .flexBox .leftBox .tableBox table thead tr th:nth-child(3) {
  width: 6rem;
}
article .flexBox .leftBox .tableBox table thead tr th:nth-child(4) {
  width: 5rem;
}
article .flexBox .leftBox .tableBox table tbody tr td {
  overflow: hidden;
  padding: 2px 0;
  white-space: pre;
  text-overflow: ellipsis;
}
article .flexBox .rightBox {
  flex: 4;
  border: 1px solid #e9ebec;
}
article .flexBox .rightBox table tbody tr th {
  width: 40%;
}
article .flexBox .rightBox table tbody tr td.bodyData {
  white-space: pre-wrap;
}
article .flexBox .rightBox .tableBottomDiv {
  display: flex;
  justify-content: flex-end;
}
article .flexBox .rightBox .tableBottomDiv button {
  margin: 0 0.2rem;
}

.modal .popupBody table {
  border: 1px solid #e9ebec;
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  font-size: 0.8rem;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
}
.modal .popupBody table tbody {
  background-color: #ffffff;
  color: #111111;
}
.modal .popupBody table tbody tr:nth-child(even) {
  background-color: #f6f7fa;
}
.modal .popupBody table tbody tr th {
  width: 15rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0.2rem;
}
.modal .popupBody table tbody tr td {
  border-bottom: 1px solid #e9ebec;
  padding: 0.2rem;
  position: relative;
}
.modal .popupBody table tbody tr td input {
  width: 100%;
}