article .box {
  width: 50%;
  height: auto;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
article .box p.leftKey {
  width: 30%;
  border-right: 2px solid #e8e8e8;
  font-size: 1rem;
}
article .box input {
  width: 60%;
  padding: 0.2em 0;
  text-indent: 0.5em;
}
article .id.box {
  margin-top: 20px;
}
article .pw.box {
  position: relative;
}
article .pw.box span.showPw {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  color: #c8c8c8;
  cursor: pointer;
}
article .pw.box span.showPw:hover {
  color: #8492af;
}
article .social {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  padding: 0.5rem;
  box-sizing: border-box;
}
article .social .box {
  width: 25%;
  height: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 1.5%;
  cursor: pointer;
  position: relative;
  max-width: 400px;
}
article .social .box img {
  width: 20%;
  max-width: 70px;
}
article .social .box .loginInfo {
  width: 75%;
}
article .social .box .hoverBox {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3333333333);
  font-size: 2rem;
  font-weight: 900;
  color: #f6f7fa;
  text-align: center;
  line-height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  opacity: 0;
}
article .social .box.unactivated {
  filter: grayscale(1);
}
article .social .hiworks {
  background-color: #0197d8;
}
article .social .hiworks .loginInfo p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #ffffff;
}