@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  display: block;
}

header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}

@media screen and (max-width: 1800px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 1700px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 13px;
  }
}
@-webkit-keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes shake {
  0% {
    right: 0;
  }
  20% {
    right: 0.3rem;
  }
  45% {
    right: -0.3rem;
  }
  55% {
    right: 0.3rem;
  }
  80% {
    right: -0.3rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes shake {
  0% {
    right: 0;
  }
  20% {
    right: 0.3rem;
  }
  45% {
    right: -0.3rem;
  }
  55% {
    right: 0.3rem;
  }
  80% {
    right: -0.3rem;
  }
  100% {
    right: 0rem;
  }
}
@-webkit-keyframes glow {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes glow {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
  100% {
    filter: brightness(100%);
  }
}
@-webkit-keyframes glow2 {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes glow2 {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}
@-webkit-keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}
@keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}
@-webkit-keyframes alert2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes alert2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes arrowRight {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(50%);
  }
}
@keyframes arrowRight {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(50%);
  }
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes shake {
  0% {
    right: 0;
  }
  20% {
    right: 0.3rem;
  }
  45% {
    right: -0.3rem;
  }
  55% {
    right: 0.3rem;
  }
  80% {
    right: -0.3rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes glow {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes glow2 {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes alert {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translate(-30%, -30%);
    opacity: 0;
  }
}
@keyframes alert2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes arrowRight {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(50%);
  }
}
.loadingBox {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4666666667);
  display: none;
}
.loadingBox.on {
  display: block;
}
.loadingBox .loading {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 50%;
  border: 0 5px 5px 5px;
  border-style: solid;
  border-color: transparent #e9ebec #e9ebec #e9ebec;
  -webkit-animation: infinite 2s linear rotate;
          animation: infinite 2s linear rotate;
}

span.version {
  color: #5584ff;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
span.version b {
  font-weight: 500;
}

#wrap {
  width: 100%;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0e1a35;
  min-width: 400px;
}

.login {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 1px solid #0e1a35;
  margin: 0 auto;
  padding: 30px 0;
}
.login .logoBox {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.login .logoBox i {
  font-size: 2rem;
  color: #ffffff;
}
.login .logoBox img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.login .logoBox img:last-child {
  width: 110px;
}
.login .loginBox {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .loginBox .leftBox {
  width: 80%;
  height: auto;
}
.login .loginBox .leftBox .input {
  width: 100%;
  max-width: 1000px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border: 0px solid #e9ebec;
  text-indent: 10px;
}
.login .loginBox .leftBox .idDiv {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem 0;
  position: relative;
}
.login .loginBox .leftBox .idDiv span {
  color: #f6f7fa;
  margin-bottom: 0.5rem;
  display: block;
}
.login .loginBox .leftBox .idDiv span.chkId {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
  color: #f83c7b;
  font-size: 0.8rem;
  font-weight: 300;
  display: none;
}
.login .loginBox .leftBox .pwDiv {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem 0;
  position: relative;
}
.login .loginBox .leftBox .pwDiv span {
  color: #f6f7fa;
  margin-bottom: 0.5rem;
  display: block;
}
.login .loginBox .leftBox .pwDiv span.chkPw {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
  color: #f83c7b;
  font-size: 0.8rem;
  font-weight: 300;
  display: none;
}
.login .loginBox .rightBox {
  width: 18%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .loginBox .rightBox #connectBtn {
  width: 100%;
  height: 120px;
  display: block;
  border: 0;
  border-radius: 0;
  background: #5584ff;
  color: #ffffff;
  cursor: pointer;
}
.login .loginBox .rightBox #connectBtn:active {
  background: #3755a4;
}
.login .bottomTextBox {
  width: 90%;
  height: auto;
  padding: 1rem 0;
  margin: 0.5rem auto;
  background-color: #8492af;
}
.login .bottomTextBox h4 {
  text-align: center;
  color: #f6f7fa;
  font-size: 1.5rem;
}
.login .bottomTextBox p {
  text-align: center;
  font-weight: 400;
  color: #f6f7fa;
}
.login .goLogin {
  width: 90%;
  height: auto;
  padding: 1rem 0;
  margin: 0 auto;
}
.login .goLogin a {
  color: #8492af;
  margin: 0 auto;
  display: block;
  text-align: left;
}
.login .goLogin a i {
  transform: rotate(180deg);
  margin: 0 0.5rem 0 0;
}