@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  display: block;
}

header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}

@media screen and (max-width: 1800px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 1700px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 13px;
  }
}
#wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0e1a35;
}

.container {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #f6f7fa;
}
.container img.logo {
  width: 100px;
  position: absolute;
}
.container img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
.container h1 {
  font-size: 5rem;
  text-align: center;
  padding: 2rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: #f6f7fa;
}
.container p {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  color: #8492af;
}
.container p.error {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.container p.contact {
  font-size: 1.2rem;
  font-weight: 100;
  padding-top: 0.5rem;
}
.container span.goback {
  color: #f6f7fa;
  text-decoration: underline;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
}
.container span {
  color: #f6f7fa;
  font-size: 1.2rem;
}