#map {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#map h5 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: left;
  padding-bottom: 10px;
  position: relative;
}
#map h5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #e9ebec;
}
#map .menuBox {
  width: 20%;
  height: auto;
}
#map .menuBox ul.subMenuBox {
  padding: 10px 0;
}
#map .menuBox ul.subMenuBox li {
  padding: 2px 0;
}
#map .menuBox ul.subMenuBox li.locked a {
  color: #8492af;
  pointer-events: none;
}
#map .menuBox ul.subMenuBox li.locked i.fa-lock {
  color: #8492af;
  margin-left: 20px;
  font-size: 0.8rem;
}
#map .notMenuBox {
  width: 20%;
  height: auto;
}
#map .notMenuBox ul.pageBox {
  padding: 10px 0;
}
#map .notMenuBox ul.pageBox li {
  padding: 2px 0;
}
#map .notMenuBox ul.pageBox li.locked a {
  color: #8492af;
  pointer-events: none;
}
#map .notMenuBox ul.pageBox li.locked i.fa-lock {
  color: #8492af;
  margin-left: 20px;
  font-size: 0.8rem;
}