.tableBottomDiv {
  display: grid;
  grid-template-columns: repeat(20, 5%);
}
.tableBottomDiv .rowInViewDiv {
  grid-column: 1/4;
  display: flex;
  align-items: center;
}
.tableBottomDiv .paging {
  grid-column: 7/21;
  justify-self: end;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
.tableBottomDiv .paging button.btn_style_paging {
  padding: 0.5rem 0.8rem;
  background-color: white;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
  color: #8492af;
  cursor: pointer;
  transition: all 0.2s;
}
.tableBottomDiv .paging button.btn_style_paging i {
  font-size: 1rem;
}
.tableBottomDiv .paging button.btn_style_paging:hover {
  color: #5584ff;
  background-color: #e9ebec;
}
.tableBottomDiv .paging button.btn_style_paging.unActivated {
  color: #e9ebec;
  cursor: default;
  pointer-events: none;
}
.tableBottomDiv .paging button.btn_style_paging.on {
  color: #5584ff;
  font-weight: bold;
  position: relative;
}
.tableBottomDiv .paging button.btn_style_paging.on::after {
  content: "";
  display: block;
  width: 90%;
  bottom: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5584ff;
}

.stickyIndex {
  width: 19%;
  position: -webkit-sticky;
  position: sticky;
  float: left;
  top: 0;
  left: 0;
  border: 1px solid #e9ebec;
  margin-top: 20px;
}
.stickyIndex span {
  display: block;
  text-indent: 0.5rem;
  font-size: 0.9rem;
  color: #8492af;
  font-weight: 500;
  transition: all 0.2s;
  padding: 0.2rem 0;
  position: relative;
  cursor: pointer;
}
.stickyIndex span::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 1px;
  background-color: #e9ebec;
}
.stickyIndex span:hover {
  color: #5584ff;
}
.stickyIndex span:last-child::after {
  display: none;
}

article {
  width: 80% !important;
  height: calc(100vh - 170px);
  margin: 20px 0 20px 21% !important;
}
article#table .searchOption {
  width: 100%;
}
article#table .searchOption .period {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: 1fr, 1fr;
  border-bottom: 1px solid #e9ebec;
  padding-bottom: 0.5rem;
}
article#table .searchOption .period b {
  grid-column: 1/6;
  grid-row: 1/3;
  align-self: center;
  min-width: 30px;
}
article#table .searchOption .period input[name=dateTimePicker1] {
  grid-column: 6/13;
  grid-row: 1/2;
}
article#table .searchOption .period input[name=dateTimePicker2] {
  grid-column: 14/21;
  grid-row: 1/2;
}
article#table .searchOption .period span {
  grid-column: 13/14;
  grid-row: 1/2;
  text-align: center;
}
article#table .searchOption .period .fastBtns {
  display: flex;
  align-items: center;
  grid-column: 6/21;
  grid-row: 2/3;
}
article#table .searchOption .period .fastBtns button {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}
article#table .searchOption .optionRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  border-bottom: 1px solid #e9ebec;
  padding: 0.5rem 0;
}
article#table .searchOption .optionRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article#table .searchOption .optionRow .checkBoxRow {
  grid-column: 6/21;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
article#table .searchOption .optionRow .checkBoxRow .checkBoxDiv {
  display: flex;
  align-items: center;
}
article#table .searchOption .optionRow .checkBoxRow .checkBoxDiv label {
  transform: scale(0.8);
}
article#table .searchOption .textInputRow {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article#table .searchOption .textInputRow b {
  grid-column: 1/6;
  min-width: 30px;
}
article#table .searchOption .textInputRow input {
  grid-column: 6/17;
}
article#table .searchOption .textInputRow button {
  grid-column: 17/21;
}
article#table .searchOption .searchRow {
  width: 100%;
}
article#table .searchOption .searchRow button {
  width: 100%;
  display: block;
}
article#table .tableTopDiv {
  padding: 0.5rem 0 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article#table .tableTopDiv .sortDiv {
  display: flex;
}
article#table .tableTopDiv .sortDiv button {
  padding: 0.5rem;
  border: 1px solid rgba(132, 146, 175, 0.35);
  border-bottom: none;
}
article#table .tableTopDiv p {
  font-size: 0.8rem;
}
article#listDiv .listWrapper {
  width: 100%;
}
article#listDiv .listWrapper .viewOption {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ebec;
}
article#listDiv .listWrapper .viewOption .checkBoxDiv {
  transform: scale(0.8);
  margin-left: 1rem;
}
article#listDiv .listWrapper .listTopDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.2rem 0;
}
article#listDiv .listWrapper .listTopDiv p {
  font-size: 0.8rem;
  text-align: right;
}
article#listDiv .listWrapper .listTopDiv button {
  font-size: 0.8rem;
}
article#listDiv .listWrapper .listDiv {
  border: 1px solid #e9ebec;
  max-height: 60vh;
}
article#listDiv .listWrapper .listDiv .depth1.unActivated {
  display: none;
}
article#listDiv .listWrapper .listDiv .depth1.unActivated.show {
  display: block;
}
article#listDiv .listWrapper .listDiv .depth1.unActivated .depth1Title {
  position: relative;
}
article#listDiv .listWrapper .listDiv .depth1.unActivated .depth1Title i {
  color: rgba(132, 146, 175, 0.7);
}
article#listDiv .listWrapper .listDiv .depth1.unActivated .depth1Title p {
  color: rgba(132, 146, 175, 0.7);
}
article#listDiv .listWrapper .listDiv .depth1.unActivated .depth1Title::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article#listDiv .listWrapper .listDiv .depth1 .depth1Title {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  border-bottom: 1px solid #e9ebec;
  transition: all 0.2s;
  cursor: pointer;
}
article#listDiv .listWrapper .listDiv .depth1 .depth1Title:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article#listDiv .listWrapper .listDiv .depth1 .depth1Title.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article#listDiv .listWrapper .listDiv .depth1 .depth1Title i {
  flex: 2;
  color: #8492af;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 0;
}
article#listDiv .listWrapper .listDiv .depth1 .depth1Title p {
  flex: 8;
  font-weight: bold;
}
article#listDiv .listWrapper .listDiv .depth1 ul {
  margin-left: 20%;
  margin-bottom: 0.5rem;
}
article#listDiv .listWrapper .listDiv .depth1 ul li {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}
article#listDiv .listWrapper .listDiv .depth1 ul li::before {
  content: "";
  width: 3px;
  height: 80%;
  display: block;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translate(0, -50%);
  background-color: #5584ff;
}
article#listDiv .listWrapper .listDiv .depth1 ul li:hover {
  background-color: rgba(85, 132, 255, 0.2);
}
article#listDiv .listWrapper .listDiv .depth1 ul li i {
  flex: 2;
  color: #8492af;
  text-align: center;
  padding: 0.3rem 0;
}
article#listDiv .listWrapper .listDiv .depth1 ul li p {
  flex: 8;
  text-indent: 1rem;
}
article#listDiv .listWrapper .listDiv .depth1 ul li.point {
  background-color: rgba(85, 132, 255, 0.3);
}
article#listDiv .listWrapper .listDiv .depth1 ul li.unActivated {
  display: none;
}
article#listDiv .listWrapper .listDiv .depth1 ul li.unActivated.show {
  display: flex;
}
article#listDiv .listWrapper .listDiv .depth1 ul li.unActivated i {
  color: rgba(132, 146, 175, 0.7);
}
article#listDiv .listWrapper .listDiv .depth1 ul li.unActivated p {
  color: rgba(132, 146, 175, 0.7);
}
article#listDiv .listWrapper .listDiv .depth1 ul li.unActivated::after {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f83c7b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
article#listDiv .listWrapper .listDiv .depth1 ul li.sortable-selected {
  outline: 1px solid #f83c7b;
}
article#listDiv .listWrapper .listDiv .depth1 ul li.sortable-ghost {
  background-color: rgba(248, 60, 123, 0.3);
}
article#listDiv .listWrapper.sortable .depth1 .depth1Title i {
  cursor: -webkit-grab;
  cursor: grab;
}
article#listDiv .listWrapper.sortable .depth1 ul li i {
  cursor: -webkit-grab;
  cursor: grab;
}
article#listDiv .listWrapper {
  width: 30%;
}