@import "./color";

.listWrapper {
    width: 100%;

    .viewOption {
        display: flex;
        align-items: center;
        padding: .5rem 0;
        border-bottom: 1px solid $gray-light;

        .checkBoxDiv {
            transform: scale(.8);
            margin-left: 1rem;
        }
    }

    .listTopDiv {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: .2rem 0;

        p {
            font-size: .8rem;
            text-align: right;
        }

        button {
            font-size: .8rem;
        }
    }

    .listDiv {
        border: 1px solid $gray-light;
        max-height: 60vh;

        .depth1 {
            &.unActivated {
                display: none;

                &.show {
                    display: block;
                }

                .depth1Title {
                    position: relative;

                    i {
                        color: transparentize($gray, .3);
                    }

                    p {
                        color: transparentize($gray, .3);
                    }

                    &::after {
                        content: "\f05e";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 700;
                        color: $crush;
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: .5rem;
                        transform: translateY(-50%);
                    }
                }
            }

            .depth1Title {
                display: flex;
                align-items: center;
                padding: .2rem 0;
                border-bottom: 1px solid $gray-light;
                transition: all .2s;
                cursor: pointer;

                &:hover {
                    background-color: transparentize($color: $point, $amount: .8);
                }

                &.point {
                    background-color: transparentize($color: $point, $amount: .7);
                }

                i {
                    flex: 2;
                    color: $gray;
                    font-size: 1.2rem;
                    text-align: center;
                    padding: .5rem 0;
                }

                p {
                    flex: 8;
                    font-weight: bold;
                }
            }

            ul {
                margin-left: 20%;
                margin-bottom: .5rem;

                li {
                    display: flex;
                    align-items: center;
                    padding: .2rem 0;
                    // border: 1px solid $gray-light;
                    position: relative;
                    transition: all .2s;
                    cursor: pointer;

                    &::before {
                        content: '';
                        width: 3px;
                        height: 80%;
                        display: block;
                        top: 50%;
                        left: 0;
                        position: absolute;
                        transform: translate(0, -50%);
                        background-color: $point;
                    }

                    &:hover {
                        background-color: transparentize($color: $point, $amount: .8);
                    }

                    i {
                        flex: 2;
                        color: $gray;
                        text-align: center;
                        padding: .3rem 0;
                    }

                    p {
                        flex: 8;
                        text-indent: 1rem;
                    }

                    &.point {
                        background-color: transparentize($color: $point, $amount: .7);
                    }

                    &.unActivated {
                        display: none;

                        &.show {
                            display: flex;
                        }

                        i {
                            color: transparentize($gray, .3);
                        }

                        p {
                            color: transparentize($gray, .3);
                        }

                        &::after {
                            content: "\f05e";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 700;
                            color: $crush;
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: .5rem;
                            transform: translateY(-50%);
                        }
                    }

                    &.sortable-selected {
                        outline: 1px solid $crush;
                    }

                    &.sortable-ghost {
                        background-color: transparentize($crush, .7);
                    }
                }
            }
        }
    }

    &.sortable {
        .depth1 {
            .depth1Title {
                i {
                    cursor: grab;
                }
            }

            ul {
                li {
                    i {
                        cursor: grab;
                    }
                }
            }
        }
    }
}