@import "./color", "./animation";

.loadingBox {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 99;
    background-color: #0007;
    display: none;

    &.on {
        display: block;
    }

    .loading {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        border-radius: 50%;
        border: 0 5px 5px 5px;
        border-style: solid;
        border-color: transparent $gray-light $gray-light $gray-light;
        animation: infinite 2s linear rotate;
    }
}