@import "./color";

.tableBottomDiv{
    display: grid;
    grid-template-columns: repeat(20, 5%);
    .rowInViewDiv{
        grid-column: 1/4;
        display: flex;
        align-items: center;
    }
    .paging{
        grid-column: 7/21;
        justify-self: end;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(14, 1fr);

        button{
            &.btn_style_paging{
                padding: .5rem .8rem;
                background-color: white;
                border: none;
                border-radius: 0;
                font-size: .8rem;
                color: $gray;
                cursor: pointer;
                transition: all .2s;
                i{
                    font-size: 1rem;
                }
                &:hover{
                    color: $point;
                    background-color: $gray-light;
                }
                &.unActivated{
                    color: $gray-light;
                    cursor: default;
                    pointer-events: none;
                }
                &.on{
                    color: $point;
                    font-weight: bold;
                    position: relative;
                    &::after{
                        content: '';
                        display: block;
                        width: 90%;
                        bottom: 0;
                        height: 2px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: $point;
                    }
                }
            }
        }
    }
}