@import "./reset", "./color", "./animation", "./loading";


body {
	background-color: $white;
}

#wrap {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 9fr;
	min-width: 1400px;

	//메뉴 접힘
	//서브메뉴 접힘
	//좌측리스트 접힘
	//우측리스트 접힘, 좌측리스트 접힘
	&.menuClose {
		grid-template-columns: 1fr 31fr;

		.left {
			menu {
				min-width: 60px;

				.menuChange {
					display: flex;
					justify-content: center;

					i {
						transform: rotate(180deg);
					}

					span {
						display: none;
					}
				}

				.logoTop {
					img {
						width: 40px;
						content: url("./../../../../img/logo_mini.svg");
					}
					.version{
						display: none;
					}
				}

				.nav {
					ul {
						li {
							justify-content: center;

							i {
								padding: 12px 0;
							}

							a {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	&.subMenuClose {
		nav {
			display: none;
		}

		main {
			grid-column-start: 1;
		}

		.right {
			header {
				.header_left {
					&::before {
						display: none;
					}
				}
			}
		}
	}

	&.leftListClose {
		aside {
			grid-column-start: 18;

			.leftList {
				display: none;
			}

			.rightList {
				grid-column-start: 1;
			}
		}

		main {
			grid-column-end: 18;
		}
	}

	&.rightListClose {
		aside {
			display: none;
		}

		main {
			grid-column-end: 21;
		}
	}

	&.fullScreen {
		height: 100vh;

		.left {
			display: none;
		}

		.right {
			grid-column-start: 1;

			header {
				display: none;
			}

			nav {
				display: none;
			}

			.container {
				height: 100vh;

				main {
					grid-column-start: 1;
					grid-column-end: 21;

					section {
						max-height: 94vh;
					}
				}

				aside {
					display: none;
				}
			}
		}

		&.popup{
			a.fullsize{
				display: none;
			}
			a.popup{
				display: none;
			}
		}
	}
}

.left {
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: $point-darkest;
	position: relative;

	menu {
		width: 100%;
		height: auto;
		max-height: 100vh;
		min-width: 210px;
		overflow-y: scroll;
		transition: all .05s;

		&::-webkit-scrollbar {
			width: 0px;
			height: 0px;
		}

		.logoTop {
			width: 100%;
			height: auto;
			min-height: 80px;
			display: flex;
			align-items: center;
			cursor: pointer;
			position: relative;

			img {
				width: 70%;
				height: auto;
				display: block;
				margin: 0 auto;
			}

			.version{
				font-size: 8px;
				color: $point;
				position: absolute;
				top: 0;
				left: 5px;
				z-index: 1;
			}
		}

		.nav {
			width: 100%;
			height: auto;

			ul {
				width: 100%;

				li {
					width: 100%;
					height: auto;
					text-align: center;
					display: flex;
					align-items: center;
					cursor: pointer;
					transition: all .2s;

					i {
						color: $point;
						font-size: 1.25rem;
						padding: 12px 10%;
						width: 20px;
					}

					a {
						color: $white-dark;
						font-size: .9rem;
					}

					&:hover {
						backdrop-filter: brightness(120%);
					}

					&.active {
						backdrop-filter: brightness(150%);
						position: relative;

						&::before {
							content: '';
							width: 5px;
							height: 100%;
							position: absolute;
							left: 0;
							top: 0;
							background-color: $point;
						}
					}

					&.locked {
						background-color: $gray;
						pointer-events: none;
						position: relative;
					}
				}
			}

			.menuChange {
				color: $fff;
				font-weight: 400;
				display: block;
				padding: 38px 0;
				filter: brightness(.7);
				cursor: pointer;
				transition: all .2s;

				&:hover {
					filter: brightness(1);
				}

				i {
					width: 1rem;
					height: auto;
					display: inline-block;
					padding: 0 10%;
					transition: all 0.3s;
				}
			}
		}
	}
}

.right {
	grid-column-start: 2;
	grid-column-end: 3;

	header {
		width: 100%;
		height: auto;
		min-height: 80px;
		box-sizing: border-box;
		background-color: $fff;
		display: grid;
		grid-template-columns: repeat(20, 5%);
		border-bottom: 1px solid $gray-light;

		.header_left {
			grid-column-start: 1;
			grid-column-end: 3;
			position: relative;
			justify-self: start;
			cursor: pointer;

			i {
				font-size: 24px;
				padding: 27px 20px;
				color: $gray-dark;
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				top: 50%;
				left: 15px;
				transform: translate(-100%, -50%);
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-right: 8px solid $point;
			}
		}

		.header_mid {
			grid-column-start: 3;
			grid-column-end: 17;
			display: grid;
			grid-template-columns: repeat(20, 5%);
			grid-template-rows: repeat(5, 20%);

			span.goBtn{
				opacity: .1;
				transition: all .2s;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;

				i{
					color: $gray;
					font-size: 2rem;
				}

				&.leftGo{
					grid-column: 1/2;
					grid-row: 1/6;
					&:hover{
						opacity: 1;
					}
				}

				&.rightGo{
					grid-column: 13/14;
					grid-row: 1/6;
					&:hover{
						opacity: 1;
					}
				}
			}

			.checkList{
				grid-column: 2/13;
				grid-row: 2/5;
				overflow: hidden;
				position: relative;

				ul.listBarWrap {
					width: 300%;
					height: 100%;
					display: flex;
					transition: all .2s;
					position: absolute;
					top: 0;
					left: 0;

					li.listBar{
						width: calc(100% / 3);
						height: 100%;

						ul.alarmBox {
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: space-between;
							align-items: center;
			
							li {
								// width: 20%;
								padding: 0 .3rem;
			
								span {
									width: 10px;
									height: 10px;
									border-radius: 5px;
									display: block;
									margin: 0 auto;
			
									&.newAlarm {
										background-color: $crush;
										position: relative;
			
										&::after {
											content: '';
											position: absolute;
											display: block;
											width: 10px;
											height: 10px;
											border-radius: 5px;
											border: 1px solid $crush;
											top: 50%;
											left: 50%;
											transform: translate(-50%, -50%);
											animation: alert infinite 1s ease-out;
										}
									}
								}
			
								p {
									margin: 0 auto;
									text-align: center;
									font-size: .8rem;
								}
			
								small {
									margin: 0 auto;
									text-align: center;
									font-size: .7rem;
									display: block;
								}
							}
						}
			
					}
				}
			}

			ul.checkListPageBtn{
				grid-column: 1/14;
				grid-row: 5/6;
				display: flex;
				align-items: bottom;
				justify-content: space-between;
				margin: 0 auto;
				
				li{
					width: 50px;
					height: 100%;
					cursor: pointer;
					padding: 2px 5px;
					display: flex;
					align-items: center;
					justify-content: center;

					span{
						width: 35px;
						height: 3px;
						border-radius: 3px;
						background-color: $gray-light;
					}

					&:hover{
						span{
							background-color: transparentize($gray, .5);
						}
					}

					&.on{
						span{
							background-color: $gray;
						}
					}
				}
			}

			.userBox {
				grid-column-start: 14;
				grid-column-end: 21;
				grid-row-start: 3;
				grid-row-end: 4;
				display: flex;
				align-items: center;
				justify-content: right;
				padding: .6rem;
				align-self: center;

				img {
					width: 45px;
					height: auto;
					margin: 0 1rem 0 0;
					border-radius: 25px;
				}

				.middleBox {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;

					p.helloUser {
						text-align: right;
						font-size: .875rem;
						color: $point !important;
						margin-bottom: .5rem;
					}

					.flex{
						display: flex;
						align-items: center;
						justify-content: flex-end;
						margin-bottom: .2rem;

						span.timeOut {
							font-size: .7rem;
							font-weight: 300;
							margin-right: .5rem;
	
							&.crush {
								color: $crush;
							}
	
							strong {
								font-weight: 500;
							}
	
						}

						#refreshToken{
							margin-right: .5rem;
						}

						#mypage{
							border-radius: 5px;
						}

						#refreshToken, #mypage {
							font-size: .6rem;
							padding: .2rem;
						}
					}
				}
			}

			span.logOut {
				min-width: 100px;
				transition: all .2s;
				display: flex;
				align-items: center;
				margin-left: 20px;
				cursor: pointer;
				filter: brightness(1);

				&:hover {
					filter: brightness(.7);
				}

				i {
					color: $gray;
					font-size: 1rem;
					padding-left: 10px;
				}

				p {
					color: $gray;
					font-weight: 300;
					font-size: .8rem;
				}
			}
		}

		.header_right {
			grid-column-start: 20;
			grid-column-end: 21;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			cursor: pointer;

			i {
				font-size: 25px;
				padding: 27px 20px;
				color: transparentize($gray-dark, .5);
				transition: all .2s;
			}

			&:hover {
				i {
					color: $gray-dark;
				}
			}
		}
	}

	.container {
		width: 100%;
		height: calc(100vh - 80px);
		// height: auto;
		min-height: 800px;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: repeat(20, 5%);
		overflow: hidden;

		nav.subMenu {
			grid-column-start: 1;
			grid-column-end: 3;
			border-right: 1px solid $gray-light;
			background-color: $fff;

			ul {
				display: none;

				&.active {
					display: block;
				}

				li {
					width: 100%;
					height: auto;
					transition: all .2s;

					a {
						width: 100%;
						height: auto;
						display: block;
						text-align: left;
						padding: 12px 10%;
						box-sizing: border-box;
						// font-size: .875rem;
						font-size: .85rem;

						&.bold {
							font-weight: 700;
						}
					}

					&:hover {
						background-color: transparentize($gray-light, 0.3);
					}

					&.active {
						background: $gray-light;
						position: relative;

						&::before {
							content: '';
							width: 5px;
							height: 100%;
							position: absolute;
							right: 0;
							top: 0;
							background-color: $gray;
						}
					}

					&.locked {
						position: relative;
						backdrop-filter: brightness(.9);
						pointer-events: none;

						a {
							color: $gray-dark;
						}

						i.fa-lock {
							position: absolute;
							display: inline-block;
							font-size: 1rem;
							right: .5rem;
							top: 50%;
							transform: translateY(-50%) scale(.8);
							color: $gray-dark;
						}
					}
				}
			}
		}

		main {
			grid-column-start: 3;
			grid-column-end: 15;
			height: 100%;
			background-color: $white;
			position: relative;

			.toolbar {
				width: 100%;
				// height: 50px;
				height: 2rem;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.leftToolBar{
					display: flex;
					align-items: center;

					p{
						font-size: .8rem;
						color: $gray;
						margin: 0 .5rem;
					}
		
					span.slash {
						font-size: .7rem;
						color: $gray;
						margin: 0 .5rem;
					}
		
					a.siteMap {
						font-size: .8rem;
						color: $point;
						text-decoration: underline;
						margin-left: 1rem;
					}
				}

				.rightToolBar{
					display: flex;
					align-items: center;

					span.manual {
						display: flex;
						align-items: center;
						font-size: .8rem;
						color: $point;
						cursor: pointer;
						padding: 0 1rem;
	
						i {
							font-size: 22px;
							padding: 0 .5rem;
							color: $point;
						}
					}
	
					a.fullsize {
						display: flex;
						align-items: center;
						font-size: .8rem;
						color: $point;
						cursor: pointer;
						padding: 0 1rem;
	
						i {
							font-size: 20px;
							padding: 0 .5rem;
							color: $point;
						}
	
						span {
							color: $point;
						}
					}
	
					a.popup {
						display: flex;
						align-items: center;
						font-size: .8rem;
						color: $point;
						cursor: pointer;
						padding: 0 1rem;
	
						i {
							font-size: 20px;
							padding: 0 .5rem;
							color: $point;
						}
	
						span {
							color: $point;
						}
					}
				}
			}

			section {
				width: 100%;
				height: calc(100% - 50px);
				max-height: calc(95vh - 100px);
				position: relative;
				overflow: hidden;
				overflow-y: scroll;
				padding: 10px;
				box-sizing: border-box;

				&::-webkit-scrollbar {
					width: 10px;
					height: 10px;
				}

				&::-webkit-scrollbar-thumb {
					background-color: $point;
					border-radius: 5px;
					background-clip: padding-box;
					border: 2px solid transparent;

					&:hover {
						border: none;
					}
				}

				&::-webkit-scrollbar-track {
					background-color: $white;
				}

				h2 {
					text-indent: 10px;
					font-size: 2.5rem;
					color: $point-dark;
					margin: 0 auto;
					position: relative;
					font-weight: 300;
				}

				h3 {
					font-size: 2rem;
					color: $point-dark;
					position: relative;
					text-indent: 10px;

					&::before {
						content: '';
						width: 5px;
						height: 100%;
						background-color: $point-dark;
						position: absolute;
						top: 0;
						left: 0px;
					}
				}

				h4 {
					font-size: 1.5rem;
					color: $point;
					text-indent: 10px;
				}

				h5 {
					font-size: 1.2rem;
					color: $gray-dark;
					font-weight: 700;
					text-indent: 10px;
				}

				p {
					font-weight: 300;

					a {
						color: $point;
					}
				}

				article {
					width: 100%;
					background-color: $fff;
					padding: 20px;
					margin: 20px auto;
					box-sizing: border-box;
					border-bottom: 2px solid $gray-light;
				}

				table {
					width: 100%;
					max-height: 100%;
					background-color: $fff;
					font-size: .8rem;
					border-spacing: 0;
					table-layout: fixed;
					word-wrap: break-word;

					thead {
						background-color: $gray;
						color: $fff;

						tr {
							th {
								text-align: left;
								font-size: .8rem;
								font-weight: 500;
								padding: .2rem;
							}

							td {
								border: none;
								padding: .2rem;
							}
						}
					}

					tbody {
						background-color: $fff;
						color: #111111;

						tr {
							&:nth-child(even) {
								background-color: $white;
							}

							th {
								text-align: left;
								font-size: .8rem;
								font-weight: 500;
								border-bottom: 1px solid $gray-light;
								padding: .2rem;
							}

							td {
								border-bottom: 1px solid $gray-light;
								padding: .2rem;
							}

							&.point {
								background-color: transparentize($point, .7);
								outline: 2px solid $point;

								th,
								td {
									border: none;
								}
							}

							&.crush {
								background-color: transparentize($crush, .7) !important;

								&.point {
									outline: 2px solid $point;
								}
							}

							&.caution {
								background-color: transparentize(#ffa600, .7) !important;

								&.point {
									outline: 2px solid $point;
								}
							}
						}
					}
				}
			}
		}

		aside {
			grid-column-start: 15;
			grid-column-end: 21;
			display: grid;
			grid-template-columns: repeat(10, 10%);
			background-color: $fff;

			h3 {
				font-size: 1.2rem;
				color: $point;
				text-indent: 10px;
				position: relative;

				&::after {
					content: '';
					width: 5px;
					height: 100%;
					background-color: $point;
					position: absolute;
					top: 0;
					left: 0px;
				}
			}

			table {
				width: 100%;
				table-layout: fixed;

				thead {
					background-color: $gray;
					color: $fff;
					font-size: .8rem;

					tr {
						td {
							padding: 2px 0;
							text-indent: .1rem;
						}
					}
				}

				tbody {
					color: #111111;

					tr {
						&:nth-child(even) {
							background-color: $white-dark;
						}

						&:last-child td {
							border-bottom: none;
						}

						td {
							font-size: .9rem;
							border-bottom: 1px solid $gray-light
						}
					}
				}
			}

			.leftList {
				position: relative;
				grid-column-start: 1;
				grid-column-end: 6;
				border-left: 1px solid $gray-light;

				span.close_leftList {
					padding: .2rem .5rem;
					cursor: pointer;
					position: absolute;
					top: 0;
					right: 0;

					i {
						font-size: 1.2rem;
						color: $point-light;
						transition: all .2s;
					}

					&:hover {
						i {
							color: $point;
						}
					}
				}

				.listSwitch{
					width: 95%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: .5rem 0;

					button{
						flex: 1;
					}
				}

				.searchOption{
					width: 95%;
					margin: 0 auto;
					padding: .5rem 0;

					.optionRow{
						margin-bottom: .5rem;

						&:last-child{
							margin-bottom: 0;
						}

						.checkBoxRow{
							display: flex;
							flex-wrap: wrap;

							.checkBoxDiv{
								width: 50%;
							}
						}

						select{
							width: 75%;
						}
					}

					.searchRow{
						width: 100%;
						button{
							width: 100%;
							height: 1.8rem;
						}
					}
				}

				.listTableBox {
					table {
						thead {
							tr {
								td {
									&:first-child {
										width: 5rem;
									}
	
									&:last-child {
										width: 3rem;
									}
								}
							}
						}
						tbody {
							tr {
								cursor: pointer;

								&.clicked {
									outline: 2px solid $point;
								}

								td {
									padding: 5px 0;
								}
							}
						}
					}
				}
			}

			.rightList {
				grid-column-start: 6;
				grid-column-end: 11;
				border-left: 1px solid $gray-light;

					.searchOption{
						width: 95%;
						margin: 0 auto;
						padding: .5rem 0;

						.optionRow{
							margin-bottom: .5rem;

							&:last-child{
								margin-bottom: 0;
							}

							.checkBoxRow{
								display: flex;
								flex-wrap: wrap;

								.checkBoxDiv{
									width: 50%;
								}
							}

							select{
								width: 75%;
							}
						}

						.textInputRow{
							input[type="text"]{
								width: 75%;
								height: 1.8rem;
							}
							button{
								width: 25%;
								height: 1.8rem;
							}
						}
					}

				ul {
					border-top: 2px solid $point;

					li {
						margin: 10px 5px;
						box-sizing: border-box;
						background-color: $white;
						padding: 2px 5px;
						border-left: 5px solid $point-light;
						cursor: pointer;

						&:first-child {
							margin: 5px;
						}

						&.clicked {
							background-color: $gray-light;

							span {
								&.clickToOpen {
									display: none;
								}
							}

							&:hover {
								background-color: $gray-light;
							}
						}

						&.test{
							position: relative;
							&::after{
								content: "Test";
								position: absolute;
								display: block;
								top: .3rem;
								right: .3rem;
								color: $crush;
								font-size: .8rem;
							}
						}

						span {
							display: block;

							&.type {
								text-align: left;
								font-size: .8rem;
								font-weight: 500;
								color: $gray-dark;
								position: relative;
								
								&.법인{
									&::after{
										content: "\f058";
										position: absolute;
										top: 50%;
										transform: translateY(-50%);
										left: 1.7rem;
										display: block;
										font-size: .8rem;
										font-family: "Font Awesome 5 Free";
										font-weight: 500;
										color: $point;
									}
								}
							}

							&.clickToOpen {
								font-size: .7rem;
								text-align: right;
								transition: all .2s;
								color: $gray-light;
							}
						}

						p.company_name {
							color: $point-dark;
							font-size: 1rem;
							padding: 5px 0;
						}

						.card_detail {
							padding: 15px 0;

							.apply_test{
								float: right;
							}
							
							p {
								font-size: .8rem;
								color: $point-dark;

								&:last-child {
									color: $crush;
								}
							}
						}

						&:hover {
							background-color: $white-dark;

							span {
								&.clickToOpen {
									color: $gray-dark;
								}
							}
						}
					}
				}
			}
		}
	}
}



select {
	background-color: $fff;
	color: $gray-dark;
	border: 1px solid transparentize($gray, .65);

	&:focus {
		border: 1px solid $point;
		outline: 1px solid $point;
	}
}

input {
	background-color: $fff;
	border: 1px solid transparentize($gray, .65);

	&:disabled {
		background-color: $gray-dark;
		color: $white;
	}

	&:read-only {
		cursor: default;
		background-color: $gray-light;
		pointer-events: none;
	}

	&[type="text"],
	&[type="password"] {
		&:focus {
			border: 1px solid $point;
			outline: 1px solid $point;
		}
	}
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0005;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	overflow: hidden;

	.layerPopup {
		width: 800px;
		height: auto;
		max-height: 50vh;
		background-color: $white;
		box-sizing: border-box;

		.popupHead {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: $gray-dark;
			padding: 10px;
			box-sizing: border-box;

			h3 {
				color: $fff;
				font-weight: 500;
			}

			i {
				color: $fff;
				font-size: 1.2rem;
				padding: 5px;
				cursor: pointer;

				&:hover {
					color: $crush;
				}
			}
		}

		.popupBody {
			width: 100%;
			max-height: calc(50vh - 100px);
			padding: 10px;
			box-sizing: border-box;
			overflow: scroll;
			overflow-x: hidden;

			&::-webkit-scrollbar {
				width: 10px;
				height: 10px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $point;
				border-radius: 5px;
				background-clip: padding-box;
				border: 2px solid transparent;

				&:hover {
					border: none;
				}
			}

			&::-webkit-scrollbar-track {
				background-color: $white;
			}

			.box {
				.inputDiv {
					width: 100%;
					height: auto;
					padding: 10px;
					box-sizing: border-box;
					border-bottom: 1px solid $point-light;

					&:last-child {
						border-bottom: none;
					}

					h5 {
						color: $gray-dark;
						font-size: 1rem;
						font-weight: 100;
					}

					input {
						width: 50%;
						outline: none;
						border: none;
						box-shadow: none;
						padding: 2px 5px;
						box-sizing: border-box;
						border: 1px solid $gray-dark;

						&:focus {
							outline: 1px solid $point;
						}
					}
				}
			}
		}

		.btnBox {
			width: 95%;
			height: 50px;
			margin: 0 auto;
			display: flex;
			align-items: center;

			button {
				border: none;
				box-shadow: none;
				outline: none;
				padding: 10px;
				box-sizing: border-box;
				color: $fff;
				cursor: pointer;
				display: block;
				margin-bottom: 10px;
			}

			button.point {
				background: $point;
			}

			button.crush {
				background: $crush;
			}

			button.gray {
				background: $gray-dark;
			}
		}
	}
}

.alert_modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0005;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1000;

	.alert_layerPopup {
		max-width: 800px;
		margin: 0 10%;
		height: auto;
		background-color: $white;
		box-sizing: border-box;
		border-radius: 5px;

		.alert_popupHead {
			width: 95%;
			height: auto;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid $point-light;
			padding: 5px;
			box-sizing: border-box;

			h3 {
				color: $gray-dark;
				font-weight: 500;
			}

			i {
				color: $crush;
				opacity: .8;
				font-size: 1.2rem;
				padding: 5px;
				cursor: pointer;

				&:hover {
					opacity: 1;
				}
			}
		}

		.alert_popupBody {
			width: 100%;
			height: auto;
			padding: 10px 50px;
			box-sizing: border-box;

			.box {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;

				p {
					font-size: 1.2rem;
					font-weight: 300;
					word-break: break-all;

					small {
						font-size: 1rem;
						color: $gray-dark;
						word-break: break-all;
					}
				}
			}
		}

		.alert_btnBox {
			width: 95%;
			height: auto;
			margin: 0 auto;
			box-sizing: border-box;
			padding: 10px 0;

			button {
				border: none;
				box-shadow: none;
				outline: none;
				padding: 10px;
				color: $fff;
				cursor: pointer;
				display: block;
				margin: 0 auto;
			}

			button.point {
				background: $point;
			}

			button.crush {
				background: $crush;
			}

			button.gray {
				background: $gray-dark;
			}
		}
	}
}

.checkBoxDiv {
	transform-origin: left;
	transform: scale(.9);
	display: flex;
	align-items: center;
	cursor: pointer;

	label.checkBox {
		width: 15px;
		height: 15px;
		border: 3px solid transparentize($gray , .5);
		border-radius: 5px;
		position: relative;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
		cursor: pointer;
		display: block;
	}

	input.chkBox {
		display: none;

		&:checked+label.checkBox {
			background-color: $point;

			&::before {
				content: '';
				position: absolute;
				top: -1px;
				left: 3px;
				width: 10px;
				height: 13px;
				box-shadow: inset 3px 3px $fff;
				transform: rotate(-135deg);
			}
		}
	}

	span{
		margin-left: .2rem;
		font-size: 1rem;
	}
}

.radioDiv {
	display: flex;

	input {
		display: none;

		&:checked+label {
			transition: ease-out .2s;
			border: 3px solid $point;

			&::before {
				content: '';
				width: 12px;
				height: 12px;
				position: absolute;
				top: 4px;
				left: 4px;
				background: $point;
				border-radius: 50%;
			}
		}
	}

	label {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 3px solid transparentize($gray , .5);
		transition: ease-out .2s;
		position: relative;
		cursor: pointer;
		display: block;
		transform-origin: left;
		transform: scale(.8);

		&:hover {
			border: 3px solid $gray-dark;
		}
	}
}

.toggleDiv {
	transform-origin: left;

	input[type=checkbox].toggle {
		position: absolute;
		opacity: 0;
		z-index: -1;

		&:checked+.check-trail {
			background: $point;

			.check-handler {
				margin-left: 55%;
			}
		}
	}

	.check-trail {
		transform: scale(.8);
		transform-origin: left;
		display: flex;
		align-items: center;
		width: 60px;
		height: 30px;
		background: $gray-light;
		border-radius: 15px;
		transition: all 0.2s ease;
		cursor: pointer;
	}

	.check-handler {
		display: flex;
		margin-left: 5px;
		justify-content: center;
		align-items: center;
		width: 22px;
		height: 22px;
		background: $white;
		border-radius: 50%;
		transition: all 0.2s ease;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
		position: relative;
	}
}

.scrollable {
	overflow: hidden;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $point;
		border-radius: 5px;
		background-clip: padding-box;
		border: 1px solid transparent;

		&:hover {
			border: none;
		}
	}

	&::-webkit-scrollbar-track {
		background-color: $white;
	}
}

button {
	border: 1px solid $gray-light;
	background: $fff;
	font-size: 1rem;
	cursor: pointer;
	transition: all .2s;
	padding: .2rem;

	&:hover{
		border: 1px solid black;
	}

	&.btn_style_1 {
		border: none;
		background: none;
		font-size: .9rem;
		cursor: pointer;
		font-weight: 300;
		opacity: .7;
		transition: all .2s;

		&.btn_color_point {
			i {
				color: $point;
			}
		}

		&.btn_color_crush {
			i {
				color: $crush;
			}
		}

		&.btn_color_caution{
			i{
				color: $caution;
			}
		}

		&.btn_color_gray {
			i {
				color: $gray;
			}
		}

		&:hover {
			opacity: 1;
		}
	}

	&.btn_style_2 {
		border: none;
		padding: 5px 10px;
		cursor: pointer;
		font-size: .9rem;
		border-radius: 5px;

		&.btn_color_point {
			background: transparentize($point, .8);
			color: $point-dark;

			&:hover {
				background-color: $point;
				color: $fff;
			}
		}

		&.btn_color_caution {
			background-color: transparentize($caution, .4);
			color: $fff;

			&:hover {
				background-color: $caution;
				color: $fff;
			}
		}

		&.btn_color_crush {
			background-color: transparentize($crush, .4);
			color: $fff;

			&:hover {
				background-color: $crush;
				color: $fff;
			}
		}

		&.btn_color_gray {
			background-color: transparentize($gray, .4);
			color: $fff;

			&:hover {
				background-color: $gray;
				color: $fff;
			}
		}
	}

	&.btn_style_3 {
		border: none;
		padding: 3px 5px;
		cursor: pointer;
		font-size: .9rem;
		color: $white;
		transition: all .2s;
		opacity: .8;

		&.btn_color_point {
			background-color: $point;
		}

		&.btn_color_caution {
			background-color: $caution;
		}

		&.btn_color_crush {
			background-color: $crush;
		}

		&.btn_color_gray {
			background-color: $gray;
		}

		&:hover {
			opacity: 1;
		}
	}
}

//ckEditor
.ck-editor__editable[role="textbox"] {
	/* editing area */
	min-height: 200px;
}

@media only screen and (max-width: 1400px) {
	body {
		overflow: scroll;
	}
}

.flex{
	display: flex;
	&.space-between{
		justify-content: space-between;
	}
}

